## Homework

In [1]:
import pandas
df = pandas.read_csv('https://raw.githubusercontent.com/ywchiu/esunpy/master/data/Churn_Modelling.csv')

In [2]:
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [3]:
! wget https://raw.githubusercontent.com/ywchiu/esunpy/master/data/Churn_Modelling.csv

--2020-09-27 01:41:48--  https://raw.githubusercontent.com/ywchiu/esunpy/master/data/Churn_Modelling.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 674857 (659K) [text/plain]
Saving to: ‘Churn_Modelling.csv’

Churn_Modelling.csv 100%[===================>] 659.04K  --.-KB/s    in 0.06s

2020-09-27 01:41:48 (10.4 MB/s) - ‘Churn_Modelling.csv’ saved [674857/674857]

In [5]:
df = pandas.read_csv('Churn_Modelling.csv')

In [6]:
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [7]:
## select gender, avg(estimatedsalary) from df group by gender
df.groupby('Gender')['EstimatedSalary'].mean()

Gender
Female    100601.541382
Male       99664.576931
Name: EstimatedSalary, dtype: float64

In [8]:
df.groupby(['Geography','Gender'])['EstimatedSalary'].mean()

Geography  Gender
France     Female     99564.252755
           Male      100174.252495
Germany    Female    102446.424124
           Male       99905.033959
Spain      Female    100734.107475
           Male       98425.687680
Name: EstimatedSalary, dtype: float64

## Panndas IO

In [9]:
# csv: Comma-Separated Values 逗號分隔值
import pandas
df = pandas.read_csv('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/rent_591_sample.csv')

In [10]:
df.head()

   Unnamed: 0       id          address  ...  area    price browsenum_all
0           0  6032971  永康街47巷永康街五樓頂加..  ...  46.8   60,000           751
1           1  6054083   仁愛路四段仁愛路樹海景觀..  ...  76.9  100,000           162
2           2  5957980   光復南路高樓層大巨蛋正對..  ...  71.3  150,000          2385
3           3  6043839     永康街23巷永康商圈..  ...  18.0   29,000          1323
4           4  5181793      雲和街師大*已收訂..  ...  28.0   31,800          2303

[5 rows x 9 columns]

In [17]:
# tab
import pandas
df = pandas.read_csv('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/purchase_order.tab', 
            sep='\t', header=None, names = ['dt', 'action', 'uid', 'pid', 'quantity', 'price'])

In [18]:
df.head()

                    dt action           uid             pid  quantity   price
0  2015-07-01 00:00:01  order    U312622727     P0006944501         1  1069.0
1  2015-07-01 00:00:03  order    U239012343     P0006018073         1  1680.0
2  2015-07-01 00:00:19  order  U10007697373     P0002267974         1   285.0
3  2015-07-01 00:01:10  order    U296328517     P0016144236         1   550.0
4  2015-07-01 00:01:36  order    U300884570  P0014516980122         1   249.0

In [20]:
#df = pandas.read_clipboard()

In [22]:
df.to_csv('test.csv')

In [23]:
df.to_excel('test.xlsx')

In [26]:
df.head().to_json()

'{"dt":{"0":"2015-07-01 00:00:01","1":"2015-07-01 00:00:03","2":"2015-07-01 00:00:19","3":"2015-07-01 00:01:10","4":"2015-07-01 00:01:36"},"action":{"0":"order","1":"order","2":"order","3":"order","4":"order"},"uid":{"0":"U312622727","1":"U239012343","2":"U10007697373","3":"U296328517","4":"U300884570"},"pid":{"0":"P0006944501","1":"P0006018073","2":"P0002267974","3":"P0016144236","4":"P0014516980122"},"quantity":{"0":1,"1":1,"2":1,"3":1,"4":1},"price":{"0":1069.0,"1":1680.0,"2":285.0,"3":550.0,"4":249.0}}'

In [34]:
import json
json.loads(df.head().T.to_json()).values()

dict_values([{'dt': '2015-07-01 00:00:01', 'action': 'order', 'uid': 'U312622727', 'pid': 'P0006944501', 'quantity': 1, 'price': 1069.0}, {'dt': '2015-07-01 00:00:03', 'action': 'order', 'uid': 'U239012343', 'pid': 'P0006018073', 'quantity': 1, 'price': 1680.0}, {'dt': '2015-07-01 00:00:19', 'action': 'order', 'uid': 'U10007697373', 'pid': 'P0002267974', 'quantity': 1, 'price': 285.0}, {'dt': '2015-07-01 00:01:10', 'action': 'order', 'uid': 'U296328517', 'pid': 'P0016144236', 'quantity': 1, 'price': 550.0}, {'dt': '2015-07-01 00:01:36', 'action': 'order', 'uid': 'U300884570', 'pid': 'P0014516980122', 'quantity': 1, 'price': 249.0}])

In [37]:
df.head().T.to_dict()

{0: {'action': 'order',
  'dt': '2015-07-01 00:00:01',
  'pid': 'P0006944501',
  'price': 1069.0,
  'quantity': 1,
  'uid': 'U312622727'},
 1: {'action': 'order',
  'dt': '2015-07-01 00:00:03',
  'pid': 'P0006018073',
  'price': 1680.0,
  'quantity': 1,
  'uid': 'U239012343'},
 2: {'action': 'order',
  'dt': '2015-07-01 00:00:19',
  'pid': 'P0002267974',
  'price': 285.0,
  'quantity': 1,
  'uid': 'U10007697373'},
 3: {'action': 'order',
  'dt': '2015-07-01 00:01:10',
  'pid': 'P0016144236',
  'price': 550.0,
  'quantity': 1,
  'uid': 'U296328517'},
 4: {'action': 'order',
  'dt': '2015-07-01 00:01:36',
  'pid': 'P0014516980122',
  'price': 249.0,
  'quantity': 1,
  'uid': 'U300884570'}}

HTML TABLE

<table>
  <thead>
    <tr><th>c1</th> <th>c2</th></tr>
  </thead>
  <tbody>
    <tr><td>v1</td> <td>v2</td></tr>
    <tr><td>v3</td> <td>v4</td></tr>
  </tbody>
</table>

In [39]:
from bs4 import BeautifulSoup
table = '''
<table>
  <thead>
    <tr><th>c1</th> <th>c2</th></tr>
  </thead>
  <tbody>
    <tr><td>v1</td> <td>v2</td></tr>
    <tr><td>v3</td> <td>v4</td></tr>
  </tbody>
</table>
'''
soup = BeautifulSoup(table, 'lxml')
for tr in soup.select('tr'):
  print(tr.select('td'))

[]
[<td>v1</td>, <td>v2</td>]
[<td>v3</td>, <td>v4</td>]

In [45]:
dfs = pandas.read_html(table)
type(dfs)
len(dfs)
dfs[0]

   c1  c2
0  v1  v2
1  v3  v4

In [47]:
import pandas
dfs = pandas.read_html('https://money.udn.com/money/breaknews/1001')

In [49]:
#dfs[0]

### Practice
- 請將台銀的匯率資訊 (https://rate.bot.com.tw/xrt/quote/l6m/USD) 讀成 pandas DataFrame

In [50]:
dfs= pandas.read_html('https://rate.bot.com.tw/xrt/quote/l6m/USD')

In [57]:
df = dfs[0]
df = df.iloc[:,:6]

In [60]:
df.columns =['掛牌日期', '幣別', '現金匯率-本行買入','現金匯率-本行賣出',
             '即期匯率-本行買入','即期匯率-本行賣出']

In [61]:
df.head()

         掛牌日期        幣別  現金匯率-本行買入  現金匯率-本行賣出  即期匯率-本行買入  即期匯率-本行賣出
0  2020/09/26  美金 (USD)      28.84      29.51      29.19      29.29
1  2020/09/25  美金 (USD)      28.84      29.51      29.19      29.29
2  2020/09/24  美金 (USD)      28.88      29.55      29.23      29.33
3  2020/09/23  美金 (USD)      28.78      29.45      29.13      29.23
4  2020/09/22  美金 (USD)      28.77      29.44      29.12      29.22

In [67]:
import requests
headers = {'user-agent': 'i love goodinfo'}
res = requests.get('https://goodinfo.tw/StockInfo/StockBzPerformance.asp?STOCK_ID=2330', headers = headers)
res.encoding = 'utf-8'
#res.text

In [69]:
dfs = pandas.read_html(res.text)

In [78]:
dfs[16]

      年度 股本(億) 財報評分 年度股價(元)          ...    ROE(%)    ROA(%) EPS(元)        BPS(元)
      年度 股本(億) 財報評分      收盤      平均  ...    ROE(%)    ROA(%)  稅後EPS  年增(元) BPS(元)
      年度 股本(億) 財報評分 年度股價(元) 年度股價(元)  ...    ROE(%)    ROA(%) EPS(元) EPS(元) BPS(元)
      年度 股本(億) 財報評分      收盤      平均  ...    ROE(%)    ROA(%)  稅後EPS  年增(元) BPS(元)
0   20Q2  2593   96     424     342  ...  28.5(年估)  20.2(年估)   9.17  +4.23  66.35
1   2019  2593   89     331     262  ...      20.9      15.9  13.32  -0.22  62.53
2   2018  2593   94   225.5     237  ...      21.9      17.2  13.54  +0.31  64.67
3   2017  2593   91   229.5     210  ...      23.6      17.7  13.23  +0.34  58.70
4   2016  2593   91   181.5     166  ...      25.6      18.9  12.89  +1.07  53.58
5   2015  2593   94     143     140  ...        27      19.4  11.82  +1.64  47.11
6   2014  2593   91     141     123  ...      27.9      19.1  10.18  +2.92  40.32
7   2013  2593   89   105.5     104  ...      23.9      16.9   7.26  +0.84  32.69
8   2012  2592   89      97    84.1  ...      24.5      19.1   6.42  +1.24  27.90
9   2011  2592   94    75.8    72.1  ...      22.2        18   5.18  -1.06  24.29
10  2010  2591   96      71      62  ...      30.1      24.7   6.24  +2.79  22.16
11  2009  2590   91    64.5    55.5  ...      18.3      15.5   3.45  -0.41  19.11
12  2008  2563   94    44.4    56.4  ...      20.7      17.8   3.86  -0.28  18.59
13  2007  2643   94      62    65.5  ...        22        19   4.14  -0.79  19.03
14  2006  2583   96    67.5    61.3  ...      26.6        23   4.93  +1.14  19.69
15  2005  2473   94    62.5    54.1  ...      22.2      18.4   3.79  -0.18  18.04
16  2004  2325   89    50.5    52.4  ...      25.4      20.4   3.97  +1.64  17.19
17  2003  2027   79    63.5    56.4  ...      15.1      11.8   2.33  +1.19  16.24
18  2002  1862   66    42.6    67.4  ...      7.54      5.71   1.14  +0.31  14.85
19  2001  1683   60    87.5    77.7  ...      5.37      3.93   0.83  -4.88  15.29
20  2000  1169   91    78.5     147  ...      31.4      21.5   5.71  +2.47  20.15
21  1999   852   74     167     120  ...      19.9      12.5   3.24   +0.7  15.74
22  1998   605   72      71     101  ...        20      11.6   2.54  -1.86  13.90
23  1997   408   83     112     109  ...      29.6      17.7    4.4  -2.91  17.00
24  1996   265   94    56.5    63.8  ...      45.3      30.5   7.31  -3.17  19.63
25  1995   144   91      85     128  ...      44.9      31.2  10.48  -0.38  23.34
26  1994    78    -     157     159  ...         -         -  10.86      -  24.14
27  1993     -    -       -       -  ...         -         -      -      -  18.25
28  1992     -    -       -       -  ...         -         -      -      -  12.82
29  1991     -    -       -       -  ...         -         -      -      -  11.54

[30 rows x 21 columns]