## 作業 (Python 基礎)
- 1 請使用 pip 將 jieba 安裝在自己的電腦上
- 2 閱讀jieba 相關的文件，了解jieba 的用法
- 3 請將蔡英文演說文 (https://raw.githubusercontent.com/ywchiu/tibamedl/master/Data/speech_tsai.txt) 下載存入到自己電腦
- 4 請使用python 的檔案操作方法讀取新聞
- 5 請使用 jieba 將演說文切詞
-6 請統計該演說文最常出現的十大字詞

In [1]:
! pip install jieba

Requirement already satisfied: jieba in /usr/local/lib/python3.6/dist-packages (0.42.1)

In [2]:
import jieba


seg_list = jieba.cut("我来到北京清华大学", cut_all=True)
print("Full Mode: " + "/ ".join(seg_list))  # 全模式

seg_list = jieba.cut("我来到北京清华大学", cut_all=False)
print("Default Mode: " + "/ ".join(seg_list))  # 精确模式

Building prefix dict from the default dictionary ...
Dumping model to file cache /tmp/jieba.cache
Loading model cost 0.948 seconds.
Prefix dict has been built successfully.

Full Mode: 我/ 来到/ 北京/ 清华/ 清华大学/ 华大/ 大学
Default Mode: 我/ 来到/ 北京/ 清华大学

In [4]:
jieba.add_word('觀光局')
seg_list = jieba.cut("交通部觀光局東北角管理處將海巡據點馬崗哨所整修，轉型為多元使用的遊憩據點「馬崗哨所Empress Gallery」藝術咖啡廳，昨天正式營運，店內結合「貓夫人」攝影展，展示在當地馬崗社區拍攝的貓咪倩影，成為眺望卯澳灣山海美景的全新休憩景點。", cut_all=False)
print("Default Mode: " + "/ ".join(seg_list))  # 精确模式

Default Mode: 交通部/ 觀光局/ 東/ 北角/ 管理/ 處將/ 海巡/ 據/ 點馬崗/ 哨所/ 整修/ ，/ 轉型/ 為/ 多元/ 使用/ 的/ 遊憩/ 據點/ 「/ 馬/ 崗/ 哨所/ Empress/  / Gallery/ 」/ 藝術/ 咖啡/ 廳/ ，/ 昨天/ 正式/ 營運/ ，/ 店內/ 結合/ 「/ 貓/ 夫人/ 」/ 攝/ 影展/ ，/ 展示/ 在/ 當地馬崗/ 社區/ 拍/ 攝/ 的/ 貓咪/ 倩影/ ，/ 成為/ 眺望/ 卯/ 澳灣/ 山海/ 美景/ 的/ 全新/ 休憩/ 景點/ 。

In [5]:
! wget https://raw.githubusercontent.com/ywchiu/tibamedl/master/Data/speech_tsai.txt

--2020-09-12 01:43:07--  https://raw.githubusercontent.com/ywchiu/tibamedl/master/Data/speech_tsai.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6579 (6.4K) [text/plain]
Saving to: ‘speech_tsai.txt’

speech_tsai.txt     100%[===================>]   6.42K  --.-KB/s    in 0s

2020-09-12 01:43:07 (78.3 MB/s) - ‘speech_tsai.txt’ saved [6579/6579]

In [6]:
! head speech_tsai.txt

大會主席蘇嘉全院長、現場各位貴賓、電視機前和網路上的全體國人同胞，大家早安，大家好。

今天，是中華民國一百零八年的國慶日，謝謝來自世界各地的好朋友，跟我們共度這個值得紀念的日子。

去年，也是在國慶日，我和大家說，台灣正處在變局當中。世界貿易局勢的變動、國際政治情勢的變化，都讓未來充滿挑戰。我們必須「求穩、應變、進步」，厚植實力、壯大台灣。

轉眼又過了一年，世界依然快速變化，甚至更加劇烈。美中貿易戰的持續進行；距離我們不遠的香港，因為「一國兩制」的失敗，正處於失序邊緣。

儘管如此，中國依然以「一國兩制台灣方案」，不斷威脅我們，並採取各種文攻武嚇，強烈挑戰了區域的穩定及和平。

In [7]:
with open('speech_tsai.txt', 'r') as f:
  speech = f.read()

In [9]:
seg_list = jieba.cut(speech)

In [12]:
#list(seg_list)

In [15]:
seg_list = jieba.cut(speech)
#for word in seg_list:
#  print(word)

In [16]:
seg_list = jieba.lcut(speech)

In [18]:
#seg_list

### Method 1

In [23]:
dic = {}
for word in seg_list:
  if len(word) >= 2:
    if word not in dic:
      dic[word] = 1
    else:
      dic[word] = dic[word] + 1

In [24]:
swd = sorted(dic.items(), key = lambda e: e[1], reverse=True)

In [25]:
swd[0:10]

[('我們', 43),
 ('台灣', 19),
 ('挑戰', 12),
 ('人民', 9),
 ('經濟', 8),
 ('中華民國', 7),
 ('一次', 7),
 ('未來', 6),
 ('自由民主', 6),
 ('世界', 5)]

### Method 2

In [26]:
dic = {}
for word in seg_list:
  if len(word) >= 2:
    dic[word] = dic.get(word, 0) + 1

In [27]:
swd = sorted(dic.items(), key = lambda e: e[1], reverse=True)

In [28]:
swd[0:10]

[('我們', 43),
 ('台灣', 19),
 ('挑戰', 12),
 ('人民', 9),
 ('經濟', 8),
 ('中華民國', 7),
 ('一次', 7),
 ('未來', 6),
 ('自由民主', 6),
 ('世界', 5)]

### Method 3

In [32]:
from collections import Counter 
c = Counter([w for w in seg_list if len(w)>=2])
c.most_common(10)

[('我們', 43),
 ('台灣', 19),
 ('挑戰', 12),
 ('人民', 9),
 ('經濟', 8),
 ('中華民國', 7),
 ('一次', 7),
 ('未來', 6),
 ('自由民主', 6),
 ('世界', 5)]

In [31]:
ary = []
for word in seg_list:
  if len(word) >=2:
    ary.append(word)
#ary

## Pandas

In [33]:
import pandas
stock = pandas.read_excel('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/stock.xlsx')

In [34]:
stock.head()

   id    年度     股本  財報評分     收盤    平均  ...    ROE   ROA  稅後EPS  EPS成長    BPS stockid
0   1  2015  369.0    45   27.3  37.8  ...   4.36  2.36   1.56  -1.37  29.26    1101
1   2  2014  369.0    53   43.4  45.7  ...  10.50  5.76   2.93   0.21  31.95    1101
2   3  2013  369.0    51  46.25  39.8  ...  10.60  5.56   2.72   0.63  30.63    1101
3   4  2012  369.0    49   38.9  35.8  ...   7.63  3.81   2.09  -0.24  27.03    1101
4   5  2011  369.0    55     35  36.8  ...  10.80  5.24   2.33   -0.1  26.21    1101

[5 rows x 23 columns]

In [35]:
tw2330 = pandas.read_csv('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/2330.TW.csv')

In [36]:
tw2330.head()

         Date       Open       High  ...      Close  Adj Close        Volume
0  2000-01-04  69.649002  69.649002  ...  69.649002  38.253021  2.006623e+11
1  2000-01-05  69.649002  71.214104  ...  71.214104  39.112621  4.024668e+11
2  2000-01-06  70.822899  71.214104  ...  69.649002  38.253021  1.975457e+11
3  2000-01-07  67.301300  68.475197  ...  67.692497  37.178459  2.352703e+11
4  2000-01-10  69.649002  70.431396  ...  70.040199  38.467876  2.761717e+11

[5 rows x 7 columns]

In [37]:
tw2330 = pandas.read_json('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/2330.json')

In [38]:
tw2330

        Date   Open   High    Low  Close    Volume  Adj Close
0 2016-07-21  171.0  172.0  170.0  172.0  33130000      172.0
1 2016-07-20  170.0  170.5  169.0  170.0  38053000      170.0
2 2016-07-19  170.5  170.5  169.0  170.5  42456000      170.5
3 2016-07-18  168.0  170.0  168.0  169.5  24749000      169.5
4 2016-07-15  169.5  169.5  169.5  169.5     41000      169.5

## GET
- https://zh.wikipedia.org/zh-tw/HTTP%E7%8A%B6%E6%80%81%E7%A0%81

In [89]:
import requests
headers = {
  'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.102 Safari/537.36'  
}
res = requests.get('https://money.udn.com/rank/newest/1001/0/1', headers = headers)
res

In [91]:
#res.text

- https://24h.pchome.com.tw/prod/DGBJHC-1900AQ4UP

In [46]:
! pip install SpeechRecognition

Collecting SpeechRecognition
  Downloading https://files.pythonhosted.org/packages/26/e1/7f5678cd94ec1234269d23756dbdaa4c8cfaed973412f88ae8adf7893a50/SpeechRecognition-3.8.1-py2.py3-none-any.whl (32.8MB)
     |████████████████████████████████| 32.8MB 125kB/s
Installing collected packages: SpeechRecognition
Successfully installed SpeechRecognition-3.8.1

In [47]:
import speech_recognition as sr

# obtain audio from the microphone
r = sr.Recognizer()
with sr.Microphone() as source:
    print("Say something!")
    audio = r.listen(source, timeout = 3,phrase_time_limit= 3)
    
#?r.listen
r.recognize_google(audio, language='zh-TW')

In [ ]:
! pip install youtube-dl

In [55]:
! youtube-dl -f mp4 https://www.youtube.com/watch?v=-biOGdYiF-I -o jay.mp4

[youtube] -biOGdYiF-I: Downloading webpage
[download] Destination: jay.mp4
[download] 100% of 16.57MiB in 00:00

In [ ]:
https://www.youtube.com/watch?v=-biOGdYiF-I

In [ ]:
! pip install autosub

In [ ]:
! pip install 2to3

## PCHOME 爬蟲

In [65]:
import requests
res = requests.get('https://ecapi.pchome.com.tw/ecshop/prodapi/v2/prod/button&id=DGBJHC-1900AQ4UP&fields=Seq,Id,Price,Qty,ButtonType,SaleStatus,isPrimeOnly,SpecialQty&_callback=jsonp_button&1599881760?_callback=jsonp_button')
res

In [66]:
res.text

'try{jsonp_button([{"Seq":24958314,"Id":"DGBJHC-1900AQ4UP-000","Price":{"M":13660,"P":13250,"Prime":""},"Qty":1,"ButtonType":"ForSale","SaleStatus":1,"isPrimeOnly":0,"SpecialQty":0}]);}catch(e){if(window.console){console.log(e);}}'

## POST

In [67]:
import requests
url = 'https://www.thsrc.com.tw/TimeTable/Search'
payload = {
'SearchType': 'S',
'Lang': 'TW',
'StartStation': 'TaiPei',
'EndStation': 'XinZhu',
'OutWardSearchDate': '2020/09/12',
'OutWardSearchTime': '17:30',
'ReturnSearchDate': '2020/09/12',
'ReturnSearchTime': '11:30'    
}
res = requests.post(url, data = payload)
res

In [ ]:
res.text

In [ ]:
res.json()

- https://rate.bot.com.tw/xrt/history/USD

## Python3 Autosub

In [ ]:
! pip install https://github.com/BingLingGroup/autosub/archive/0.5.7-alpha.tar.gz

In [81]:
#! autosub --list-speech-codes

In [ ]:
! autosub -S cmn-hant-tw -i jay.mp4

In [84]:
#! cat jay.cmn-hant-tw.srt

In [ ]:
! youtube-dl -f mp4 https://www.youtube.com/watch?v=k4PtPICWJXk -o tvbs.mp4

In [ ]:
! autosub -S cmn-hant-tw -i tvbs.mp4

In [88]:
#! cat tvbs.cmn-hant-tw.srt

## 解析 HTML

<html>
<body>
<h1 id="title">Hello World</h1>
<a href="#" class="link">This is link1</a>
<a href="# link2" class="link">This is link2</a>
</body>
</html>

In [93]:
html_sample = '''
<html>
<body>
<h1 id="title">Hello World</h1>
<a href="#" class="link">This is link1</a>
<a href="# link2" class="link">This is link2</a>
</body>
</html>'''

In [94]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(html_sample, 'lxml')

In [99]:
soup.select_one('h1').text

'Hello World'

In [97]:
soup.select_one('a')

In [98]:
soup.select('a')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [100]:
for link in soup.select('a'):
  print(link)

<a class="link" href="#">This is link1</a>
<a class="link" href="# link2">This is link2</a>

In [101]:
for link in soup.select('a'):
  print(link.text)

This is link1
This is link2

In [102]:
# id => #
soup.select_one('#title').text

'Hello World'

In [103]:
# class => .
soup.select('.link')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [105]:
soup.select_one('h1#title')

In [106]:
soup.select('a.link')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [108]:
soup.select_one('body h1')

In [109]:
soup.select_one('body h1#title')

In [110]:
soup.select_one('body #title')

In [111]:
soup.select('body a')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [112]:
soup.select('body a.link')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [113]:
soup.select('body .link')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [116]:
for link in soup.select('a'):
  #print(link.text)
  print(link.get('href'))

#
# link2

## 網路爬蟲範例

In [125]:
import requests
#headers = {
#  'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.102 Safari/537.36'  
#}
headers = {
  'user-agent': 'i love qoo'  
}
res = requests.get('https://money.udn.com/rank/newest/1001/0/1', headers = headers)
res

In [128]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text, 'lxml')

<table>
  <tr><td>c1</td><td>c2</td></tr>
  <tr><td>1</td><td>2</td></tr>

</table>

## Selectorgadget
- https://chrome.google.com/webstore/detail/selectorgadget/mhjhnkcfbdhnjickkkdbjoemdmbfginb?hl=zh-TW

In [135]:
# non-pythonic 
ary = []
if len(ary) > 0:
  print('has something')
else:
  print('has nothing')

has nothing

In [137]:
# pythonic
if ary:
  print('has something')
else:
  print('has nothing')

has nothing

In [ ]:
for tr in soup.select('tr'):
  td = tr.select('td')
  if td:
    title = td[0].text
    category = td[1].text
    dt = td[2].text
    print(title, category, dt)
    print('==================================')

抓取 Mobile01 最新文章列表
- https://www.mobile01.com/forumtopic.php?c=19

In [146]:
import requests
headers = {
   'user-agent':'i love ptt' 
}
res = requests.get('http://mobile01.com/forumtopic.php?c=19', headers = headers)
#res.text

In [147]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text,'lxml')

In [ ]:
for rec in soup.select('.c-listTableTd__title .u-ellipsis'):
  print(rec.text)
  print('==============================')

## 抓取連結

In [153]:
import requests
headers = {
  'user-agent': 'i love qoo'  
}
res = requests.get('https://money.udn.com/rank/newest/1001/0/1', headers = headers)
res

In [154]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text, 'lxml')

In [ ]:
for tr in soup.select('tr'):
  td = tr.select('td')
  if td:
    
    title = td[0].text
    category = td[1].text
    dt = td[2].text
    link = td[0].select_one('a').get('href')
    #print(title, category, dt)
    print(link)
    print('==================================')

In [ ]:
import requests
headers = {'user-agent': 'i love you'}
res = requests.get('https://money.udn.com/money/story/5621/4855130', headers = headers)
res.text

In [164]:
from bs4 import BeautifulSoup
soup =BeautifulSoup(res.text, 'lxml')
soup.select_one('h2').text

'口罩國家隊緊急出動 9月15日可完成MlT囗罩防偽'

In [163]:
soup.select_one('#story_art_title')

In [ ]:
ary = []
for p in soup.select('#article_body p'):
  ary.append(p.text)
''.join(ary)

In [ ]:
''.join([p.text for p in soup.select('#article_body p')])

In [173]:
dt = soup.select_one('.shareBar__info--author span').text

In [179]:
dt

'2020-09-12 14:34'

In [174]:
type(dt)

str

In [176]:
from datetime import datetime
today = datetime.now()
today

datetime.datetime(2020, 9, 12, 6, 57, 37, 389275)

## Datetime
- https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes

In [178]:
## time to string
today.strftime('%Y-%m-%d')

'2020-09-12'

In [180]:
## string to time
dt = '2020-09-12 14:34'
datetime.strptime(dt, '%Y-%m-%d %H:%M')

datetime.datetime(2020, 9, 12, 14, 34)

In [181]:
today - datetime.strptime(dt, '%Y-%m-%d %H:%M')

datetime.timedelta(-1, 59017, 389275)

In [184]:
from datetime import timedelta
for i in range(10):
  dt_detail = today - timedelta(days = i)
  print(dt_detail.strftime('%Y-%m-%d'))

2020-09-12
2020-09-11
2020-09-10
2020-09-09
2020-09-08
2020-09-07
2020-09-06
2020-09-05
2020-09-04
2020-09-03

In [185]:
dt = soup.select_one('.shareBar__info--author span').text
dt

'2020-09-12 14:34'

In [186]:
datetime.strptime(dt, '%Y-%m-%d %H:%M')

datetime.datetime(2020, 9, 12, 14, 34)

In [191]:
soup.select('#nav a')[-1].text

'產業'

In [202]:
soup.select_one('.shareBar__info--author').text.split()[-1].split('／')[0].split('記者')[1]

'宋健生'

### 小任務
- 請幫我抓出標籤?

- https://money.udn.com/money/story/5621/4855130

- 工具機

In [205]:
soup.select_one('#story_tags a').text

'工具機'

## 完整爬蟲流程

In [220]:
import requests
from bs4 import BeautifulSoup
headers = {'user-agent': 'i love you'}

def pageDetail(detailurl):
  dic = {}
  res = requests.get(detailurl, headers = headers)
  soup =BeautifulSoup(res.text, 'lxml')

  dic['title'] = soup.select_one('h2').text
  dic['summary'] = ''.join([p.text for p in soup.select('#article_body p')])
  dt = soup.select_one('.shareBar__info--author span').text
  dic['dt'] =datetime.strptime(dt, '%Y-%m-%d %H:%M')
  dic['category'] = soup.select('#nav a')[-1].text
  return dic

In [221]:
pageDetail('https://money.udn.com/money/story/5599/4854867')

{'category': '國際',
 'dt': datetime.datetime(2020, 9, 12, 12, 45),
 'summary': '蘋果15日發表會和新款iPhone進展備受矚目，爆料達人在推特上透露，15日發表會鎖定Apple Watch和iPad兩大新品；iPhone 12本週已量產，估10月中旬到下旬期間，蘋果可能開始出貨新款iPhone 12。\n蘋果（Apple）將於美國時間9月15日上午10時（台灣時間16日凌晨1時）在線上舉行年度新產品發表會，爆料達人普羅瑟（Jon Prosser）在推特（Twitter）上透露，此次發表會蘋果鎖定Apple Watch和iPad兩大新品。\n普羅瑟引述消息人士指出，15日發表會上，蘋果可能推出Apple Watch SE、Apple Watch Series 6、或是Apple Watch Pro等智慧手錶新品；同時也可能推出iPad Air 4或是iPad 8等平板新品。\n他指出，此次發表會暫時不會公布新款iPhone以及AirPods耳機。\n觀察新款iPhone進展，普羅瑟指出，iPhone 12在本週已經開始進入量產階段，他評估10月中旬到下旬期間，蘋果可能開始出貨新款iPhone 12。\n國外科技網站Appleinsider引述普羅瑟透露訊息分析，目前量產的iPhone 12可能不具備更新頻率可到120Hz的蘋果ProMotion螢幕顯示技術。\n不具名消息人士也向中央社記者透露，蘋果合作夥伴鴻海（2317）在8月開始向新款iPhone 12零組件供應鏈廠商拉貨，組裝iPhone 12的地點主要在中國大陸河南鄭州以及深圳龍華園區。\n從iPhone組裝代工市占率來看，日系外資法人先前報告指出，目前緯創（3231）占比僅約5%，鴻海占比約63%到65%，和碩（4938）占比約30%到33%。\n在iPhone 12組裝供應鏈部分，法人預期鴻海仍將是主要供應商，將成為6.7吋機種的唯一電子代工服務（EMS）廠商，且在6.1吋機種中組裝比重預期超過70%。\n市場預期今年下半年新款iPhone將有3種尺寸和4款機型，包括5.4吋有機發光二極體（OLED）版（後置雙攝影鏡頭）、6.1吋OLED版（後置雙攝影鏡頭）、6.1吋OLED版（後置3攝影鏡頭加上飛時測距ToF功能）、以及6.7吋OLED版（後置3攝影鏡頭加上飛時測距ToF功能）。',
 'title': '新款iPhone傳本週量產 估最快10月中旬出貨'}

In [222]:
res = requests.get('https://money.udn.com/rank/newest/1001/0/1', headers= headers)
soup = BeautifulSoup(res.text, 'lxml')

newsary = []
for link in soup.select('#ranking_table a'):
  newsary.append(pageDetail(link.get('href')))

In [225]:
newsary[3]

{'category': '產業',
 'dt': datetime.datetime(2020, 9, 12, 15, 26),
 'summary': '由教育部體育署舉辦、台灣科技大學台灣彩券與博弈研究中心協辦的北中南三場「運動彩券發行條例公聽會」已圓滿落幕。中華民國公益暨運動彩券經銷商公會理事長何昱奇表示，感謝各界關心，三場公聽會各界與會代表均暢所欲言。\n\r\n教育部體育署副署長林哲宏也說，這三場公聽會聽了多元的意見，都很有建設性，教育部會廣納各界意見，對運彩做更中長期規劃，並研討發行條例的修法事宜。\n\r\n這項公聽會，分別於9月1日、9月10日及9月11日在北中南舉行，共有三項討論案：\n\r\n第一項議案：將運動虛擬賽事列入運動彩券發行標的。這項討論產生的火花與火藥味十足，公益彩券經銷商與運動彩券經銷商正反意見都有，但反對意見占多數。\n\r\n第二項議案：運動彩券發行損失及賠償責任準備金屆期未支付款項。三場公聽會與會人士99%比例一面倒，希望銷管費用是當屆當用，如有剩餘款應當發還給努力貢獻營餘的經銷商來使用。\n\r\n第三項議案：運動專業知識認定標準。在首場中區公聽會中，台灣體育運動大學前教務長林房穳聽取經銷商團體意見後表示，將原本全國級B級裁判或教練證予以保留，並放寬屬於「奧亞運」項目為C級裁判或教練者。\n\r\n關於經銷商代理人部分，則應取得地方級C級裁判或教練證，以全面符合運動專業知識認定標準。\n\r\n中區經銷商團體多數意見，均認同林房穳的建議方案。\n\r\n南區經銷商團體表示，代理人應不用再取得地方級裁判或教練證，應維持原案。\n\r\n南區與會的高師大教授黃美珍指出，放寬參加奧亞運選手及裁判與教練並不是很多，這部分應予納入，同時也認同林房穳針對奧亞運單項協會放寬為C級裁判與教練資格的建議。\n\r\n林哲宏指出，放寬屬於奧亞運單項協會C級裁判及教練資格的人數並不會很多，這部分也會納入考量。\n\r\n北區經銷商團體表示，代理人應不用再取得地方級裁判或教練證，應維持原案。而岀席的賽事分析師協會及體育記者則表示，他們更具資格來從事運動彩券業。\n\r\n另外，國立體育學院競技運動研究所兼桌球A級教練林憲輝表示，運動彩券百花齊放，有報運動的媒體業，有報盤口的自由業，可能都各有立場，但都用經歷來取代運動專業人士的合法權益，真的要回歸體育界本質才是王道。由教育部體育署舉辦、台灣科技大學台灣彩券與博弈研究中心協辦的北中南三場「運動彩券發行條例公聽會」圓滿落幕。記者宋健生/攝影facebook',
 'title': '北中南三場「運動彩券發行條例公聽會」圓滿落幕'}

In [226]:
#https://money.udn.com/rank/newest/1001/0/2
#https://money.udn.com/rank/newest/1001/0/3

In [228]:
for i in range(1,4):
  print(i)

1
2
3

In [229]:
url = 'https://money.udn.com/rank/newest/1001/0/{}'
for i in range(1,4):
  print(url.format(i))

https://money.udn.com/rank/newest/1001/0/1
https://money.udn.com/rank/newest/1001/0/2
https://money.udn.com/rank/newest/1001/0/3

In [231]:
for i in range(1,4):
  url = f'https://money.udn.com/rank/newest/1001/0/{i}'
  print(url)

https://money.udn.com/rank/newest/1001/0/1
https://money.udn.com/rank/newest/1001/0/2
https://money.udn.com/rank/newest/1001/0/3

In [233]:
url = 'https://money.udn.com/rank/newest/1001/0/{}'

newsary = []
for i in range(1,4):
  res  = requests.get(url.format(i), headers= headers)
  soup = BeautifulSoup(res.text, 'lxml')

  for link in soup.select('#ranking_table a'):
    try:
      newsary.append(pageDetail(link.get('href')))
    except:
      print(link.get('href'))

https://money.udn.com/money/story/10841/4853234
https://money.udn.com/money/story/6714/4850887

In [234]:
newsary[0]

{'category': '產業',
 'dt': datetime.datetime(2020, 9, 12, 15, 45),
 'summary': '前立法院長王金平將率團赴陸參加「海峽論壇」，遭中國官媒央視以「求和」形容。台北市長柯文哲說，中國大陸要出來收拾跟解釋，不然「這大概就破局了」。\n中國國民黨日前宣布，由王金平率領代表團出席「海峽論壇」後，中國中央電視台在一則涉及兩岸時事的報導中聲稱，王金平率團與會是「台海兵凶戰危，這人要來大陸求和」。\n台北市長柯文哲出席2020西門商圈「友善享樂祭」活動，會前接受媒體聯訪時被問及此事。\n柯文哲說，「很簡單，大陸方面一定要出來解釋。不要說道歉、你不解釋人家一定不會去的」、「所以現在這個球又打回去，大陸要去收拾」。\n媒體追問王金平此行是否適合，柯文哲重申「在他出發前大陸一定要解釋，如果大陸不解釋，那這大概就破局了」。\n媒體追問前總統府發言人丁允恭深陷桃色風波並被監委要求調查，柯文哲回應「應該問他的上司啊，去問陳菊」。\n媒體追問民進黨立委范雲對丁允恭風波很安靜，柯文哲反問「那你意外嗎？（我）毫不意外。」',
 'title': '央視王金平求和說 柯文哲:大陸要收拾不然就破局'}

In [235]:
import pandas
newsdf = pandas.DataFrame(newsary)

In [236]:
newsdf.head()

                     title  ... category
0  央視王金平求和說 柯文哲:大陸要收拾不然就破局  ...       產業
1   求和說引發爭議 央視主持人改口：有助兩岸交流  ...       兩岸
2     陳時中是否參選北市 柯文哲:健保不易解決  ...       產業
3    摩洛哥取消核食管制 日本將續推台灣等地開放  ...       國際
4   北中南三場「運動彩券發行條例公聽會」圓滿落幕  ...       產業

[5 rows x 4 columns]

In [237]:
len(newsdf)

178

In [238]:
newsdf.to_csv('money.csv')

In [239]:
newsdf.to_excel('money.xlsx')

## IG 抓取

In [264]:
import requests
headers = {
    'referer': 'https://www.google.com/',
    'upgrade-insecure-requests': '1',
    'cookie': 'ig_did=7D5C1746-B12E-405C-96C9-7CDD41AFA9C2; csrftoken=NK8II7QynCayiyzx3OlebxxpRavn4PAG; mid=X1yBJQALAAEZc_z0oyD22-Rn4zUM; urlgen="{\"60.250.79.112\": 3462}:1kH0XJ:vqDiF_nzPNBMDr6VVxeHj8Uu-mA"',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.102 Safari/537.36'}
res = requests.get('https://www.instagram.com/jlin7/', headers = headers)

In [265]:
import re, json
m = re.search('window._sharedData =(.*);', res.text)
jd = json.loads(m.group(1))

In [267]:
for edge in jd['entry_data']['ProfilePage'][0]['graphql']['user']['edge_owner_to_timeline_media']['edges']:
    print(edge.get('node').get('display_url'))
    break

[' {"config":{"csrf_token":"sE5qwzjuwJbiB1tzrdjPpvWCzRjvIvje","viewer":null,"viewerId":null},"country_code":"US","language_code":"en","locale":"en_US","entry_data":{"LoginAndSignupPage":[{"captcha":{"enabled":false,"key":""},"gdpr_required":false,"tos_version":"row","username_hint":""}]},"hostname":"www.instagram.com","is_whitelisted_crawl_bot":false,"deployment_stage":"c2","platform":"windows_nt_10","nonce":"7qME/rL14mzbRlYWCqw3xA==","mid_pct":63.15897,"zero_data":{},"cache_schema_version":3,"server_checks":{},"knobx":{"17":false,"20":true,"22":true,"23":true,"24":true,"25":true,"26":true,"27":true,"28":true,"29":true,"30":true,"31":true,"32":true,"34":true,"35":false,"36":false,"37":true,"38":25000,"4":false},"to_cache":{"gatekeepers":{"10":false,"100":false,"101":true,"102":true,"103":true,"104":true,"105":true,"106":true,"107":false,"108":true,"11":false,"112":true,"113":true,"114":true,"116":true,"119":false,"12":false,"120":true,"123":false,"126":false,"128":false,"13":true,"131":false,"132":false,"137":true,"14":true,"140":false,"142":false,"146":true,"147":false,"149":false,"15":true,"150":false,"151":false,"152":false,"153":false,"154":true,"156":false,"157":false,"158":false,"159":false,"16":true,"160":false,"18":true,"19":false,"23":false,"24":false,"26":true,"27":false,"28":false,"29":true,"31":false,"32":true,"34":false,"35":false,"38":true,"4":true,"40":true,"41":false,"43":true,"5":false,"59":true,"6":false,"61":false,"62":false,"63":false,"64":false,"65":false,"67":true,"68":false,"69":true,"7":false,"71":false,"73":false,"74":false,"75":true,"78":true,"79":false,"8":false,"81":false,"82":true,"84":false,"86":false,"9":false,"91":false,"95":true,"97":false},"qe":{"app_upsell":{"g":"","p":{}},"igl_app_upsell":{"g":"","p":{}},"notif":{"g":"","p":{}},"onetaplogin":{"g":"","p":{}},"felix_clear_fb_cookie":{"g":"","p":{}},"felix_creation_duration_limits":{"g":"","p":{}},"felix_creation_fb_crossposting":{"g":"","p":{}},"felix_creation_fb_crossposting_v2":{"g":"","p":{}},"felix_creation_validation":{"g":"","p":{}},"post_options":{"g":"","p":{}},"sticker_tray":{"g":"","p":{}},"web_sentry":{"g":"","p":{}},"0":{"p":{"9":false},"l":{},"qex":true},"100":{"p":{"0":true},"l":{},"qex":true},"101":{"p":{"0":false,"1":false},"l":{},"qex":true},"102":{"p":{"0":true},"l":{},"qex":true},"103":{"p":{"1":false},"l":{},"qex":true},"104":{"p":{"0":true},"l":{},"qex":true},"108":{"p":{"0":false,"1":false},"l":{},"qex":true},"109":{"p":{},"l":{},"qex":true},"111":{"p":{"0":false,"1":false},"l":{},"qex":true},"113":{"p":{"0":true,"1":false,"2":true,"4":false,"5":false,"7":false,"8":false},"l":{},"qex":true},"116":{"p":{"1":true,"2":1},"l":{},"qex":true},"117":{"p":{"0":true},"l":{},"qex":true},"118":{"p":{"0":false,"1":true,"2":false},"l":{},"qex":true},"119":{"p":{"0":false},"l":{},"qex":true},"12":{"p":{"0":5},"l":{},"qex":true},"121":{"p":{},"l":{},"qex":true},"122":{"p":{"0":false},"l":{},"qex":true},"123":{"p":{"0":true,"1":true},"l":{},"qex":true},"124":{"p":{"0":false,"1":true,"2":false},"l":{},"qex":true},"125":{"p":{"0":true},"l":{},"qex":true},"126":{"p":{"0":true},"l":{},"qex":true},"127":{"p":{"0":true,"1":false,"2":true},"l":{},"qex":true},"128":{"p":{"0":false,"1":false},"l":{},"qex":true},"129":{"p":{"1":false,"2":true},"l":{"2":true},"qex":true},"13":{"p":{"0":true},"l":{},"qex":true},"131":{"p":{"2":false,"3":false,"4":false},"l":{},"qex":true},"132":{"p":{"0":false},"l":{"0":true},"qex":true},"135":{"p":{"0":false,"1":false,"2":false,"3":false},"l":{},"qex":true},"137":{"p":{},"l":{},"qex":true},"140":{"p":{},"l":{},"qex":true},"141":{"p":{"0":false,"1":false,"2":false},"l":{},"qex":true},"142":{"p":{"0":false},"l":{},"qex":true},"143":{"p":{"1":false,"2":false,"3":false,"4":false},"l":{},"qex":true},"16":{"p":{"0":false},"l":{},"qex":true},"21":{"p":{"2":false},"l":{},"qex":true},"22":{"p":{"1":false,"10":0.0,"11":15,"12":3,"13":false,"2":8.0,"3":0.85,"4":0.95},"l":{},"qex":true},"23":{"p":{"0":false,"1":false},"l":{},"qex":true},"25":{"p":{},"l":{},"qex":true},"26":{"p":{"0":""},"l":{},"qex":true},"28":{"p":{"0":false},"l":{},"qex":true},"29":{"p":{},"l":{},"qex":true},"31":{"p":{},"l":{},"qex":true},"33":{"p":{},"l":{},"qex":true},"34":{"p":{"0":false},"l":{},"qex":true},"36":{"p":{"0":true,"1":true,"2":false,"3":false,"4":false},"l":{},"qex":true},"37":{"p":{"0":false},"l":{},"qex":true},"39":{"p":{"0":false,"14":false,"8":false},"l":{},"qex":true},"41":{"p":{"3":true},"l":{},"qex":true},"42":{"p":{"0":true},"l":{},"qex":true},"43":{"p":{"0":false,"1":false,"2":false},"l":{},"qex":true},"44":{"p":{"1":"inside_media","2":0.2},"l":{},"qex":true},"45":{"p":{"13":false,"17":0,"32":false,"33":false,"35":false,"36":"control","37":false,"38":false,"40":"control","45":"control"},"l":{},"qex":true},"46":{"p":{"0":false},"l":{},"qex":true},"47":{"p":{"0":true,"1":true,"10":false,"11":false,"2":false,"3":false,"9":false},"l":{},"qex":true},"49":{"p":{"0":false},"l":{},"qex":true},"50":{"p":{"0":false},"l":{},"qex":true},"54":{"p":{"0":false},"l":{},"qex":true},"58":{"p":{"0":0.25,"1":true},"l":{},"qex":true},"59":{"p":{"0":true},"l":{},"qex":true},"62":{"p":{"0":false},"l":{},"qex":true},"67":{"p":{"0":true,"1":true,"2":true,"3":true,"4":false,"5":true,"7":false},"l":{},"qex":true},"69":{"p":{"0":true},"l":{},"qex":true},"71":{"p":{"1":"^/explore/.*|^/accounts/activity/$"},"l":{},"qex":true},"72":{"p":{"1":false,"2":false},"l":{"1":true,"2":true},"qex":true},"73":{"p":{"0":false},"l":{},"qex":true},"74":{"p":{"1":true,"12":false,"13":false,"15":false,"2":false,"3":true,"4":false,"7":false,"9":true},"l":{},"qex":true},"75":{"p":{"0":true},"l":{},"qex":true},"77":{"p":{"1":false},"l":{},"qex":true},"78":{"p":{"0":true,"1":true,"2":true,"3":true,"5":true},"l":{},"qex":true},"80":{"p":{"3":true,"4":false},"l":{},"qex":true},"84":{"p":{"0":true,"1":true,"2":true,"3":true,"4":true,"5":true,"6":false,"8":false},"l":{},"qex":true},"85":{"p":{"0":false,"1":"Pictures and Videos"},"l":{},"qex":true},"87":{"p":{"0":true},"l":{},"qex":true},"93":{"p":{"0":true},"l":{},"qex":true},"95":{"p":{"0":false,"1":false},"l":{},"qex":true},"98":{"p":{"1":false},"l":{},"qex":true}},"probably_has_app":false,"cb":false},"device_id":"4A691014-3AB4-4343-AA1D-25B0DE2EE011","browser_push_pub_key":"BIBn3E_rWTci8Xn6P9Xj3btShT85Wdtne0LtwNUyRQ5XjFNkuTq9j4MPAVLvAFhXrUU1A9UxyxBA7YIOjqDIDHI","encryption":{"key_id":"141","public_key":"380e191a577c57ef3bdf4a4433384d790f5006130bdb2644d4a9d94b5ce93f0f","version":"10"},"is_dev":false,"signal_collection_config":null,"rollout_hash":"a1de4804d095","bundle_variant":"es6","frontend_env":"prod"}']

In [ ]:
def getIdolPicture(url):
    res = requests.get(url)
    fname = url.split('?')[0].split('/')[-1]
    with open(fname, 'wb') as f:
        f.write(res.content)

In [ ]:
for edge in jd['entry_data']['ProfilePage'][0]['graphql']['user']['edge_owner_to_timeline_media']['edges']:
    getIdolPicture(edge.get('node').get('display_url'))

## 591 租屋網

In [278]:
import requests
headers = {
    'Cookie': 'webp=1; PHPSESSID=o02ckc6b3805llbfreqi0dkbn4; urlJumpIp=1; urlJumpIpByTxt=%E5%8F%B0%E5%8C%97%E5%B8%82; T591_TOKEN=o02ckc6b3805llbfreqi0dkbn4; c10f3143a018a0513ebe1e8d27b5391c=1; _ga=GA1.3.914607595.1599877569; _gid=GA1.3.933675634.1599877569; _ga=GA1.4.914607595.1599877569; _gid=GA1.4.933675634.1599877569; _fbp=fb.2.1599877568992.753404941; tw591__privacy_agree=0; user_index_role=2; user_browse_recent=a%3A1%3A%7Bi%3A0%3Ba%3A2%3A%7Bs%3A4%3A%22type%22%3Bi%3A2%3Bs%3A7%3A%22post_id%22%3Bi%3A8039336%3B%7D%7D; pt_s_28697119=vt=1599877579170&cad=; pt_28697119=uid=39PZbU2b9ZR9WTaw0UJhHw&nid=1&vid=74w0wZGaAMmqbcOMCwqMyA&vn=1&pvn=1&sact=1599877587276&to_flag=1&pl=k5ZoaM4cKDtrMLI6Atdj/g*pt*1599877579170; new_rent_list_kind_test=0; XSRF-TOKEN=eyJpdiI6Ikpud3dXYUdPRnludWJmb0hRUE5EWFE9PSIsInZhbHVlIjoiSDNwMDVvUHhHejYxYUh4UnpcL2RDRUJ5cDYxRmxQNkJycEU5M1wvODNxRFBPenlrcFZHd0YxNDVYKzRNN0lHQjJuUEtzTUVUTU1wcjN6RUZadDVHNFR5UT09IiwibWFjIjoiODZhYzIyOTg0ODg1NmVkODBjZTBkY2VmYjY5Mjk0MTQ0MDY1MWQ5NWFjZmM3NzgwMzgyNjZkNTM2NzBjYjY5ZSJ9; 591_new_session=eyJpdiI6IkJnenRiekJuRW5Xb3hJQmdITmRVTGc9PSIsInZhbHVlIjoiczJuRVdOaWEwcENyM1J0WmJRV3YwNlEzUHErenZhck9VazI4N1JhK3NOaWd1QWdRT3JzUG1PS094ZzdwOWxUT1FGVWprYlJoa28zTjdObnpMK0lYa1E9PSIsIm1hYyI6IjAwMTFlMDU4NTczNmU4ZjNiYTgyNTlhY2M1NzU5N2I5MmNlZTQzZWNlNzA4ODM5MWY4YzhiYjdjZjc2YjUzNWMifQ%3D%3D; _gat_UA-97423186-1=1',
    'Referer': 'https://rent.591.com.tw/?kind=1&region=1&section=5',
  'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.102 Safari/537.36',
 'X-CSRF-TOKEN': 'IH0FGdixwFJX3CfspqyfFH9FQHyULUwcTDeADmO4',
 'X-Requested-With': 'XMLHttpRequest'   
}
res = requests.get('https://rent.591.com.tw/home/search/rsList?is_new_list=1&type=1&kind=1&searchtype=1&region=1&section=5', headers = headers)

In [281]:
jd = res.json()

In [284]:
import pandas
df = pandas.DataFrame(jd['data']['data'])
#df

In [285]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 88 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      30 non-null     int64
 1   user_id                 30 non-null     int64
 2   address                 30 non-null     object
 3   type                    30 non-null     object
 4   post_id                 30 non-null     int64
 5   regionid                30 non-null     int64
 6   sectionid               30 non-null     int64
 7   streetid                30 non-null     int64
 8   room                    30 non-null     int64
 9   area                    30 non-null     float64
 10  price                   30 non-null     object
 11  storeprice              30 non-null     int64
 12  comment_total           30 non-null     int64
 13  comment_unread          30 non-null     int64
 14  comment_ltime           30 non-null     int64
 15  hasimg                  30 non-null     int64
 16  kind                    30 non-null     int64
 17  shape                   30 non-null     int64
 18  houseage                30 non-null     int64
 19  posttime                30 non-null     object
 20  updatetime              30 non-null     int64
 21  refreshtime             30 non-null     int64
 22  checkstatus             30 non-null     int64
 23  status                  30 non-null     object
 24  closed                  30 non-null     int64
 25  living                  30 non-null     object
 26  condition               30 non-null     object
 27  isvip                   30 non-null     int64
 28  mvip                    30 non-null     int64
 29  is_combine              30 non-null     int64
 30  cover                   30 non-null     object
 31  browsenum               30 non-null     int64
 32  browsenum_all           30 non-null     int64
 33  floor2                  30 non-null     int64
 34  floor                   30 non-null     int64
 35  ltime                   30 non-null     object
 36  cases_id                30 non-null     object
 37  social_house            30 non-null     int64
 38  distance                30 non-null     int64
 39  search_name             30 non-null     object
 40  mainarea                0 non-null      object
 41  balcony_area            0 non-null      object
 42  groundarea              0 non-null      object
 43  linkman                 30 non-null     object
 44  housetype               30 non-null     int64
 45  street_name             30 non-null     object
 46  alley_name              30 non-null     object
 47  lane_name               30 non-null     object
 48  addr_number_name        30 non-null     object
 49  kind_name_img           30 non-null     object
 50  address_img             30 non-null     object
 51  cases_name              30 non-null     object
 52  layout                  30 non-null     object
 53  layout_str              30 non-null     object
 54  allfloor                30 non-null     int64
 55  floorInfo               30 non-null     object
 56  house_img               30 non-null     object
 57  houseimg                0 non-null      object
 58  cartplace               30 non-null     object
 59  space_type_str          30 non-null     object
 60  photo_alt               30 non-null     object
 61  addition4               30 non-null     int64
 62  addition2               30 non-null     int64
 63  addition3               30 non-null     int64
 64  vipimg                  30 non-null     object
 65  vipstyle                30 non-null     object
 66  vipBorder               30 non-null     object
 67  new_list_comment_total  30 non-null     int64
 68  comment_class           30 non-null     object
 69  price_hide              30 non-null     object
 70  kind_name               30 non-null     object
 71  photoNum                30 non-null     object
 72  filename                30 non-null     object
 73  nick_name               30 non-null     object
 74  new_img                 30 non-null     object
 75  regionname              30 non-null     object
 76  sectionname             30 non-null     object
 77  icon_name               30 non-null     object
 78  icon_class              30 non-null     object
 79  fulladdress             30 non-null     object
 80  address_img_title       30 non-null     object
 81  browsenum_name          30 non-null     object
 82  unit                    30 non-null     object
 83  houseid                 30 non-null     int64
 84  region_name             30 non-null     object
 85  section_name            30 non-null     object
 86  addInfo                 30 non-null     object
 87  onepxImg                30 non-null     object
dtypes: float64(1), int64(35), object(52)
memory usage: 20.8+ KB

In [286]:
df = df[['address', 'floor', 'allfloor', 'layout','area',
'price','browsenum_all']]

In [287]:
df.head()

             address  floor  allfloor  layout  area    price  browsenum_all
0    敦化南路二段81巷信義安和..      1         5  2房2廳1衛  20.0   40,000           2142
1       辛亥路三段157巷大..      4         4  3房2廳1衛  30.0   30,000           5687
2    浦城街24巷～浦城文萃精選..      5         5  4房3廳2衛  80.0  145,000           1354
3  復興南路一段79巷近SOGO微..      2         5  2房1廳1衛  20.0   30,000            593
4    安和路二段181巷@近信義..      3        17  4房2廳2衛  58.0   90,000            714

In [ ]:
https://rent.591.com.tw/home/search/rsList?is_new_list=1&type=1&kind=1&searchtype=1&region=1&section=5
https://rent.591.com.tw/home/search/rsList?is_new_list=1&type=1&kind=1&searchtype=1&region=1&section=5&firstRow=30&totalRows=813
https://rent.591.com.tw/home/search/rsList?is_new_list=1&type=1&kind=1&searchtype=1&region=1&section=5&firstRow=60&totalRows=814

In [289]:
import math
houseurl = 'https://rent.591.com.tw/home/search/rsList?is_new_list=1&type=1&kind=1&searchtype=1&region=1&section=5&firstRow={}&totalRows=814'
math.ceil(814/ 30)

28

In [292]:
import requests
headers = {
    'Cookie': 'webp=1; PHPSESSID=o02ckc6b3805llbfreqi0dkbn4; urlJumpIp=1; urlJumpIpByTxt=%E5%8F%B0%E5%8C%97%E5%B8%82; T591_TOKEN=o02ckc6b3805llbfreqi0dkbn4; c10f3143a018a0513ebe1e8d27b5391c=1; _ga=GA1.3.914607595.1599877569; _gid=GA1.3.933675634.1599877569; _ga=GA1.4.914607595.1599877569; _gid=GA1.4.933675634.1599877569; _fbp=fb.2.1599877568992.753404941; tw591__privacy_agree=0; user_index_role=2; user_browse_recent=a%3A1%3A%7Bi%3A0%3Ba%3A2%3A%7Bs%3A4%3A%22type%22%3Bi%3A2%3Bs%3A7%3A%22post_id%22%3Bi%3A8039336%3B%7D%7D; pt_s_28697119=vt=1599877579170&cad=; pt_28697119=uid=39PZbU2b9ZR9WTaw0UJhHw&nid=1&vid=74w0wZGaAMmqbcOMCwqMyA&vn=1&pvn=1&sact=1599877587276&to_flag=1&pl=k5ZoaM4cKDtrMLI6Atdj/g*pt*1599877579170; new_rent_list_kind_test=0; XSRF-TOKEN=eyJpdiI6Ikpud3dXYUdPRnludWJmb0hRUE5EWFE9PSIsInZhbHVlIjoiSDNwMDVvUHhHejYxYUh4UnpcL2RDRUJ5cDYxRmxQNkJycEU5M1wvODNxRFBPenlrcFZHd0YxNDVYKzRNN0lHQjJuUEtzTUVUTU1wcjN6RUZadDVHNFR5UT09IiwibWFjIjoiODZhYzIyOTg0ODg1NmVkODBjZTBkY2VmYjY5Mjk0MTQ0MDY1MWQ5NWFjZmM3NzgwMzgyNjZkNTM2NzBjYjY5ZSJ9; 591_new_session=eyJpdiI6IkJnenRiekJuRW5Xb3hJQmdITmRVTGc9PSIsInZhbHVlIjoiczJuRVdOaWEwcENyM1J0WmJRV3YwNlEzUHErenZhck9VazI4N1JhK3NOaWd1QWdRT3JzUG1PS094ZzdwOWxUT1FGVWprYlJoa28zTjdObnpMK0lYa1E9PSIsIm1hYyI6IjAwMTFlMDU4NTczNmU4ZjNiYTgyNTlhY2M1NzU5N2I5MmNlZTQzZWNlNzA4ODM5MWY4YzhiYjdjZjc2YjUzNWMifQ%3D%3D; _gat_UA-97423186-1=1',
    'Referer': 'https://rent.591.com.tw/?kind=1&region=1&section=5',
  'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.102 Safari/537.36',
 'X-CSRF-TOKEN': 'IH0FGdixwFJX3CfspqyfFH9FQHyULUwcTDeADmO4',
 'X-Requested-With': 'XMLHttpRequest'   
}

In [293]:
houseary = []
for i in range(0,math.ceil(814/ 30)):
  #print(i * 30)
  res = requests.get(houseurl.format(i * 30), headers = headers)
  jd = res.json()
  df = pandas.DataFrame(jd['data']['data'])
  houseary.append(df)

In [295]:
len(houseary)

28

In [297]:
#houseary[0]

In [298]:
housedf = pandas.concat(houseary)

In [299]:
housedf.to_excel('house591.xlsx')

In [300]:
housedf = housedf[['address', 'floor', 'allfloor', 'layout','area',
'price','browsenum_all']]

In [302]:
housedf['price'] = housedf['price'].map(lambda e :int(e.replace(',','')))

In [303]:
housedf.head()

           address  floor  allfloor  layout  area   price  browsenum_all
0  敦化南路二段81巷信義安和..      1         5  2房2廳1衛  20.0   40000           2142
1     辛亥路三段157巷大..      4         4  3房2廳1衛  30.0   30000           5687
2  浦城街24巷～浦城文萃精選..      5         5  4房3廳2衛  80.0  145000           1354
3  安和路二段181巷@近信義..      3        17  4房2廳2衛  58.0   90000            714
4  敦化南路二段200巷大安小..     13        14  4房2廳2衛  63.6  135000            656

In [306]:
housedf.sort_values('price', ascending = True)

                 address  floor  allfloor  layout   area   price  browsenum_all
11     永康街37巷永康街靜巷電梯大樓..      5         6   開放式格局    5.0   15000           1168
1       信義路四段美樂，大安站美寓，..      3         6  1房1廳1衛    9.5   17999            198
7      忠孝東路三段251巷熊大安東街..    100         5  1房1廳1衛   11.0   18499           1088
11         仁愛路四段捷運大安站5..      5         6  1房1廳1衛   10.0   19000           2927
10     忠孝東路四段181巷*東區商圈..    100         6  1房1廳1衛   10.0   20000           1661
..                   ...    ...       ...     ...    ...     ...            ...
2       市民大道三段◆忠泰頂級豪宅◆..     22        23  3房2廳2衛   97.0  250000            141
23      市民大道三段奢華大安景觀∞朝..     22        23  3房2廳2衛   82.3  250000             37
4       瑞安街●仲介費八折●豪宅●尊..      2        13  4房2廳3衛  112.0  275000            129
26    瑞安街81巷75折,瑞安豪宅❂裝..      2        13  4房2廳3衛  112.6  280000            391
23  仁愛路三段帝寶ThePalace我成..      8        18  5房2廳4衛  210.7  350000            542

[815 rows x 7 columns]

In [307]:
housedf['price_per_area'] = housedf['price'] / housedf['area']

In [308]:
housedf['price_per_area'].describe()

count     815.000000
mean     1698.851299
std       552.555794
min       733.333333
25%      1293.716262
50%      1571.268238
75%      2000.000000
max      5066.666667
Name: price_per_area, dtype: float64

In [311]:
housedf.sort_values('price_per_area', ascending=False).head(5)

              address  floor  allfloor  ...   price  browsenum_all  price_per_area
20  新生南路三段11巷§旺德美客§..      6         7  ...   76000            198     5066.666667
24  師大路126巷師大公園景觀大1..      5         6  ...   26500            208     3785.714286
12  四維路170巷四維路-世界敦南..      7         8  ...   30000            492     3750.000000
13     光復南路昇陽面101美景二房     12        14  ...   46000            418     3382.352941
22   大安路二段兆基Ｔ東方文華級別..      4         8  ...  188000             73     3363.148479

[5 rows x 8 columns]

### 請協助抓自由時報(https://news.ltn.com.tw/list/breakingnews) 即時新聞區的:

- 標題
- 連結
- 時間