## 資料庫操作

In [2]:
import sqlite3 as lite
con = lite.connect('test.sqlite')
cur = con.cursor()
cur.execute('SELECT SQLITE_VERSION();')
data = cur.fetchone()
print(data)
con.close()

('3.14.2',)

In [4]:
with lite.connect('test.sqlite') as con:
    cur = con.cursor()
    cur.execute('SELECT SQLITE_VERSION();')
    data = cur.fetchone()
    print(data)

('3.14.2',)

In [5]:
with lite.connect("test.sqlite") as con: 
    cur = con.cursor() 
    # 如果表格存在，捨棄表格
    cur.execute("DROP TABLE IF EXISTS PhoneAddress")
    # 建立PhoneAddress 表格
    cur.execute("CREATE TABLE PhoneAddress(\
                      phone   CHAR(10) PRIMARY KEY, \
                      address TEXT                , \
                      name    TEXT unique         , \
                      age     INT NOT NULL)") 
    # 新增資料
    cur.execute("INSERT INTO PhoneAddress VALUES(\
                  '0912173381','United State','Jhon Doe',53)") 
    cur.execute("INSERT INTO PhoneAddress VALUES(\
                  '0928375018','Tokyo Japan','MuMu Cat',6)") 
    cur.execute("INSERT INTO PhoneAddress VALUES(\
                  '0957209108','Taipei','Richard',29)")
    #查詢資料
    cur.execute("SELECT phone,address FROM PhoneAddress") 
    data = cur.fetchall() 
    for rec in data: 
        print(rec)
        #print(rec[0], rec[1])

('0912173381', 'United State')
('0928375018', 'Tokyo Japan')
('0957209108', 'Taipei')

In [9]:
with lite.connect("test.sqlite") as con: 
    cur = con.cursor() 
    #查詢資料
    cur.execute("SELECT phone,address FROM PhoneAddress") 
    data = cur.fetchone()
    print(data)
    data = cur.fetchall()
    print(data)
    #for rec in data: 
    #    print(rec)
        #print(rec[0], rec[1])

('0912173381', 'United State')
[('0928375018', 'Tokyo Japan'), ('0957209108', 'Taipei')]

## 使用Pandas 操作SQLite

In [10]:
import pandas
employee = [{'name':'Mary', 'age':23 , 'gender': 'F'},\
            {'name':'John', 'age':33 , 'gender': 'M'}]

df = pandas.DataFrame(employee)
df

   age gender  name
0   23      F  Mary
1   33      M  John

In [11]:
import sqlite3 as lite
with lite.connect('test.sqlite') as db:
    df.to_sql(name='employee', index=False, con=db, if_exists='replace')

In [56]:
import pandas
dfs = pandas.read_html('http://rate.bot.com.tw/xrt/quote/l6m/USD')
df = dfs[0]
df = df[[0,1,2,3,4,5]]
df.columns = ['掛牌日期', '幣別', '現金匯率-買入','現金匯率-賣出', '即期匯率-買入', '即期匯率-賣出']

with lite.connect('test.sqlite') as db:
    df.to_sql(name='USD', index=False, con=db, if_exists='replace')

## 安裝 MySQLdb
- pip install PyMySQL

In [15]:
! pip install PyMySQL

Collecting PyMySQL
  Downloading PyMySQL-0.7.11-py2.py3-none-any.whl (78kB)
Installing collected packages: PyMySQL
Successfully installed PyMySQL-0.7.11

In [57]:
import pymysql

from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://root:"+'test'+"@localhost/appledaily?charset=utf8", encoding = 'UTF-8')
df.to_sql(name='currency2', con=engine, if_exists='replace')
db.close()

C:\ProgramData\Anaconda3\lib\site-packages\pymysql\cursors.py:166: Warning: (1366, "Incorrect string value: '\\xA5x\\xA5_\\xBC\\xD0...' for column 'VARIABLE_VALUE' at row 480")
  result = self._query(query)

In [58]:
import requests
headers = {
'User-Agent':'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/60.0.3112.90 Safari/537.36',
'Cookie':'ASP.NET_SessionId=3bnpc5ejpkoq4sdysww5jfgl; _ga=GA1.3.366970417.1502011895; _gid=GA1.3.338287781.1503197651'
}
res = requests.post('https://sales.vscinemas.com.tw/VieShowTicket/Home/SelectSeats', data = {}, headers = headers)
#dfs = pandas.read_html(res.text)

In [71]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text, 'html.parser')
seat_ary = []
for seat in soup.select('td[data-type="Empty"]'):
    seat_ary.append({'座位號':seat['data-col'], '排號':seat['data-name']})
df = pandas.DataFrame(seat_ary)
df

    座位號 排號
0     1  B
1     2  B
2     3  B
3     4  B
4     5  B
5     6  B
6     7  B
7     8  B
8     9  B
9    10  B
10   11  B
11   12  B
12    1  C
13    2  C
14    3  C
15    4  C
16    5  C
17    6  C
18    7  C
19    8  C
20    9  C
21   10  C
22   11  C
23   12  C
24    1  D
25    2  D
26    3  D
27    4  D
28    5  D
29    6  D
..   .. ..
100  11  J
101  12  J
102   3  K
103   4  K
104   5  K
105   6  K
106   7  K
107   8  K
108   9  K
109  10  K
110  11  K
111  12  K
112   1  L
113   2  L
114   3  L
115   4  L
116   5  L
117   6  L
118   7  L
119   8  L
120   9  L
121  10  L
122  11  L
123  12  L
124   1  M
125   6  M
126   7  M
127   8  M
128   9  M
129  12  M

[130 rows x 2 columns]

## Selenium
- https://addons.mozilla.org/en-US/firefox/addon/selenium-ide/
- https://sites.google.com/a/chromium.org/chromedriver/downloads
- https://chromedriver.storage.googleapis.com/2.31/chromedriver_win32.zip

## 華納威秀查電影片

In [75]:
# -*- coding: utf-8 -*-
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import NoAlertPresentException
import unittest, time, re


driver = webdriver.Chrome()
driver.implicitly_wait(30)    

driver.get('http://web.vscinemas.com.tw')
Select(driver.find_element_by_name("cinema")).select_by_visible_text(u"台北信義威秀影城")
Select(driver.find_element_by_name("movie")).select_by_visible_text(u"(數位)模犯生")
Select(driver.find_element_by_name("date")).select_by_visible_text(u"今天")
driver.find_element_by_css_selector("option[value=\"2017/08/20\"]").click()
time.sleep(3)
Select(driver.find_element_by_name("session")).select_by_visible_text("19:30")
driver.find_element_by_css_selector("input[type=\"button\"]").click()
time.sleep(3)
driver.find_element_by_css_selector("a.icon-vsgeneral > h2").click()
time.sleep(3)
driver.find_element_by_name("agree").click()
time.sleep(3)
driver.find_element_by_css_selector("input[type=\"submit\"]").click()
time.sleep(3)
driver.find_element_by_link_text(u"一般票種").click()
time.sleep(3)
Select(driver.find_element_by_id("HO000000010001")).select_by_visible_text("2")
driver.find_element_by_css_selector("#HO000000010001 > option[value=\"2\"]").click()
time.sleep(3)
driver.find_element_by_id("btnDoNext").click()

## Facebook AutoLogin

In [ ]:
# -*- coding: utf-8 -*-
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import NoAlertPresentException
import unittest, time, re

driver = webdriver.Chrome()
driver.implicitly_wait(30)
base_url = "https://www.facebook.com/"


driver.get(base_url)
driver.find_element_by_id("email").clear()
driver.find_element_by_id("email").send_keys("KodratVorobev1989@mail.ru")
driver.find_element_by_id("pass").clear()
driver.find_element_by_id("pass").send_keys("l0axJAB")
driver.find_element_by_id("u_0_0").click()
driver.find_element_by_id("q").click()
time.sleep(3)

In [78]:
driver.get('https://www.facebook.com/mdc.cwb')

In [ ]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [82]:
soup.select('.fbTimelineTimePeriod .userContent')

[<div class="_5pbx userContent" data-ft='{"tn":"K"}' id="js_h"><p>寬廣的"火彩虹"</p><p> 這其實不是彩虹，是稱為"環地平弧"的日暈現象，紅色在上，藍紫色在下，通常只出現一小段，理論上有可能是最壯闊艷麗的日暈。<br/> 感謝胡家銓網友來自美國新墨西哥州的分享~</p></div>,
 <div class="_5pbx userContent" data-ft='{"tn":"K"}' id="js_k"><p>Tyrone Lin 提供的"清晨殘月(潤6月29)"</p><p> 預告農曆七月的來臨~<br/> 大約我5歲時，曾經跌入退潮海邊的水道中，差點回不了家，從此對水存在深深的恐懼感。那一次，回到家時，媽媽和祖母正在拜拜，我問拜什麼，祖母回答：拜七娘媽。那就是民間七夕的拜拜，所以七夕對我來說也是個很特別的日子。我還記得，供桌上有兩大串龍眼，拜完後祖母給我一小串龍眼，那是最好吃的一串龍眼~</p></div>]