## 作業 (Python 基礎)
- 1 請使用 pip 將 jieba 安裝在自己的電腦上
- 2 閱讀jieba 相關的文件，了解jieba 的用法
- 3 請將蔡英文演說文 (https://raw.githubusercontent.com/ywchiu/tibamedl/master/Data/speech_tsai.txt) 下載存入到自己電腦
- 4 請使用python 的檔案操作方法讀取新聞
- 5 請使用 jieba 將演說文切詞
-6 請統計該演說文最常出現的十大字詞

In [1]:
! pip install jieba

Requirement already satisfied: jieba in /usr/local/lib/python3.6/dist-packages (0.42.1)

In [2]:
import jieba


seg_list = jieba.cut("我来到北京清华大学", cut_all=True)
print("Full Mode: " + "/ ".join(seg_list))  # 全模式

seg_list = jieba.cut("我来到北京清华大学", cut_all=False)
print("Default Mode: " + "/ ".join(seg_list))  # 精确模式

Building prefix dict from the default dictionary ...
Dumping model to file cache /tmp/jieba.cache
Loading model cost 0.948 seconds.
Prefix dict has been built successfully.

Full Mode: 我/ 来到/ 北京/ 清华/ 清华大学/ 华大/ 大学
Default Mode: 我/ 来到/ 北京/ 清华大学

In [4]:
jieba.add_word('觀光局')
seg_list = jieba.cut("交通部觀光局東北角管理處將海巡據點馬崗哨所整修，轉型為多元使用的遊憩據點「馬崗哨所Empress Gallery」藝術咖啡廳，昨天正式營運，店內結合「貓夫人」攝影展，展示在當地馬崗社區拍攝的貓咪倩影，成為眺望卯澳灣山海美景的全新休憩景點。", cut_all=False)
print("Default Mode: " + "/ ".join(seg_list))  # 精确模式

Default Mode: 交通部/ 觀光局/ 東/ 北角/ 管理/ 處將/ 海巡/ 據/ 點馬崗/ 哨所/ 整修/ ，/ 轉型/ 為/ 多元/ 使用/ 的/ 遊憩/ 據點/ 「/ 馬/ 崗/ 哨所/ Empress/  / Gallery/ 」/ 藝術/ 咖啡/ 廳/ ，/ 昨天/ 正式/ 營運/ ，/ 店內/ 結合/ 「/ 貓/ 夫人/ 」/ 攝/ 影展/ ，/ 展示/ 在/ 當地馬崗/ 社區/ 拍/ 攝/ 的/ 貓咪/ 倩影/ ，/ 成為/ 眺望/ 卯/ 澳灣/ 山海/ 美景/ 的/ 全新/ 休憩/ 景點/ 。

In [5]:
! wget https://raw.githubusercontent.com/ywchiu/tibamedl/master/Data/speech_tsai.txt

--2020-09-12 01:43:07--  https://raw.githubusercontent.com/ywchiu/tibamedl/master/Data/speech_tsai.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6579 (6.4K) [text/plain]
Saving to: ‘speech_tsai.txt’

speech_tsai.txt     100%[===================>]   6.42K  --.-KB/s    in 0s

2020-09-12 01:43:07 (78.3 MB/s) - ‘speech_tsai.txt’ saved [6579/6579]

In [6]:
! head speech_tsai.txt

大會主席蘇嘉全院長、現場各位貴賓、電視機前和網路上的全體國人同胞，大家早安，大家好。

今天，是中華民國一百零八年的國慶日，謝謝來自世界各地的好朋友，跟我們共度這個值得紀念的日子。

去年，也是在國慶日，我和大家說，台灣正處在變局當中。世界貿易局勢的變動、國際政治情勢的變化，都讓未來充滿挑戰。我們必須「求穩、應變、進步」，厚植實力、壯大台灣。

轉眼又過了一年，世界依然快速變化，甚至更加劇烈。美中貿易戰的持續進行；距離我們不遠的香港，因為「一國兩制」的失敗，正處於失序邊緣。

儘管如此，中國依然以「一國兩制台灣方案」，不斷威脅我們，並採取各種文攻武嚇，強烈挑戰了區域的穩定及和平。

In [7]:
with open('speech_tsai.txt', 'r') as f:
  speech = f.read()

In [9]:
seg_list = jieba.cut(speech)

In [12]:
#list(seg_list)

In [15]:
seg_list = jieba.cut(speech)
#for word in seg_list:
#  print(word)

In [16]:
seg_list = jieba.lcut(speech)

In [18]:
#seg_list

### Method 1

In [23]:
dic = {}
for word in seg_list:
  if len(word) >= 2:
    if word not in dic:
      dic[word] = 1
    else:
      dic[word] = dic[word] + 1

In [24]:
swd = sorted(dic.items(), key = lambda e: e[1], reverse=True)

In [25]:
swd[0:10]

[('我們', 43),
 ('台灣', 19),
 ('挑戰', 12),
 ('人民', 9),
 ('經濟', 8),
 ('中華民國', 7),
 ('一次', 7),
 ('未來', 6),
 ('自由民主', 6),
 ('世界', 5)]

### Method 2

In [26]:
dic = {}
for word in seg_list:
  if len(word) >= 2:
    dic[word] = dic.get(word, 0) + 1

In [27]:
swd = sorted(dic.items(), key = lambda e: e[1], reverse=True)

In [28]:
swd[0:10]

[('我們', 43),
 ('台灣', 19),
 ('挑戰', 12),
 ('人民', 9),
 ('經濟', 8),
 ('中華民國', 7),
 ('一次', 7),
 ('未來', 6),
 ('自由民主', 6),
 ('世界', 5)]

### Method 3

In [32]:
from collections import Counter 
c = Counter([w for w in seg_list if len(w)>=2])
c.most_common(10)

[('我們', 43),
 ('台灣', 19),
 ('挑戰', 12),
 ('人民', 9),
 ('經濟', 8),
 ('中華民國', 7),
 ('一次', 7),
 ('未來', 6),
 ('自由民主', 6),
 ('世界', 5)]

In [31]:
ary = []
for word in seg_list:
  if len(word) >=2:
    ary.append(word)
#ary

## Pandas

In [33]:
import pandas
stock = pandas.read_excel('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/stock.xlsx')

In [34]:
stock.head()

   id    年度     股本  財報評分     收盤    平均  ...    ROE   ROA  稅後EPS  EPS成長    BPS stockid
0   1  2015  369.0    45   27.3  37.8  ...   4.36  2.36   1.56  -1.37  29.26    1101
1   2  2014  369.0    53   43.4  45.7  ...  10.50  5.76   2.93   0.21  31.95    1101
2   3  2013  369.0    51  46.25  39.8  ...  10.60  5.56   2.72   0.63  30.63    1101
3   4  2012  369.0    49   38.9  35.8  ...   7.63  3.81   2.09  -0.24  27.03    1101
4   5  2011  369.0    55     35  36.8  ...  10.80  5.24   2.33   -0.1  26.21    1101

[5 rows x 23 columns]

In [35]:
tw2330 = pandas.read_csv('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/2330.TW.csv')

In [36]:
tw2330.head()

         Date       Open       High  ...      Close  Adj Close        Volume
0  2000-01-04  69.649002  69.649002  ...  69.649002  38.253021  2.006623e+11
1  2000-01-05  69.649002  71.214104  ...  71.214104  39.112621  4.024668e+11
2  2000-01-06  70.822899  71.214104  ...  69.649002  38.253021  1.975457e+11
3  2000-01-07  67.301300  68.475197  ...  67.692497  37.178459  2.352703e+11
4  2000-01-10  69.649002  70.431396  ...  70.040199  38.467876  2.761717e+11

[5 rows x 7 columns]

In [37]:
tw2330 = pandas.read_json('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/2330.json')

In [38]:
tw2330

        Date   Open   High    Low  Close    Volume  Adj Close
0 2016-07-21  171.0  172.0  170.0  172.0  33130000      172.0
1 2016-07-20  170.0  170.5  169.0  170.0  38053000      170.0
2 2016-07-19  170.5  170.5  169.0  170.5  42456000      170.5
3 2016-07-18  168.0  170.0  168.0  169.5  24749000      169.5
4 2016-07-15  169.5  169.5  169.5  169.5     41000      169.5

## GET
- https://zh.wikipedia.org/zh-tw/HTTP%E7%8A%B6%E6%80%81%E7%A0%81

In [43]:
import requests
headers = {
  'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.102 Safari/537.36'  
}
res = requests.get('https://money.udn.com/rank/newest/1001/0/1', headers = headers)
res

In [45]:
#res.text

- https://24h.pchome.com.tw/prod/DGBJHC-1900AQ4UP