### 方法一

In [2]:
with open('C:/Users/USER/Desktop/cnn.txt', 'r', encoding='utf-8') as f:
    news = f.read()

In [6]:
words = news.lower().split()

In [7]:
dic = {}
for word in words:
    if word not in dic:
        dic[word] = 1
    else:
        dic[word] = dic[word] + 1

In [13]:
import operator
swd = sorted(dic.items(), key = operator.itemgetter(1), reverse=True)
swd[0:10]

[('the', 130),
 ('a', 73),
 ('north', 66),
 ('of', 61),
 ('to', 59),
 ('and', 52),
 ('kim', 50),
 ('korea', 47),
 ('korean', 44),
 ('/', 41)]

### 方法二 (加入停用詞)

In [14]:
stopwords = ["a", "about", "above", "above", "across", "after", "afterwards", "again", "against", "all", "almost", "alone", "along", "already", "also","although","always","am","among", "amongst", "amoungst", "amount",  "an", "and", "another", "any","anyhow","anyone","anything","anyway", "anywhere", "are", "around", "as",  "at", "back","be","became", "because","become","becomes", "becoming", "been", "before", "beforehand", "behind", "being", "below", "beside", "besides", "between", "beyond", "bill", "both", "bottom","but", "by", "call", "can", "cannot", "cant", "co", "con", "could", "couldnt", "cry", "de", "describe", "detail", "do", "done", "down", "due", "during", "each", "eg", "eight", "either", "eleven","else", "elsewhere", "empty", "enough", "etc", "even", "ever", "every", "everyone", "everything", "everywhere", "except", "few", "fifteen", "fify", "fill", "find", "fire", "first", "five", "for", "former", "formerly", "forty", "found", "four", "from", "front", "full", "further", "get", "give", "go", "had", "has", "hasnt", "have", "he", "hence", "her", "here", "hereafter", "hereby", "herein", "hereupon", "hers", "herself", "him", "himself", "his", "how", "however", "hundred", "ie", "if", "in", "inc", "indeed", "interest", "into", "is", "it", "its", "itself", "keep", "last", "latter", "latterly", "least", "less", "ltd", "made", "many", "may", "me", "meanwhile", "might", "mill", "mine", "more", "moreover", "most", "mostly", "move", "much", "must", "my", "myself", "name", "namely", "neither", "never", "nevertheless", "next", "nine", "no", "nobody", "none", "noone", "nor", "not", "nothing", "now", "nowhere", "of", "off", "often", "on", "once", "one", "only", "onto", "or", "other", "others", "otherwise", "our", "ours", "ourselves", "out", "over", "own","part", "per", "perhaps", "please", "put", "rather", "re", "same", "see", "seem", "seemed", "seeming", "seems", "serious", "several", "she", "should", "show", "side", "since", "sincere", "six", "sixty", "so", "some", "somehow", "someone", "something", "sometime", "sometimes", "somewhere", "still", "such", "system", "take", "ten", "than", "that", "the", "their", "them", "themselves", "then", "thence", "there", "thereafter", "thereby", "therefore", "therein", "thereupon", "these", "they", "thickv", "thin", "third", "this", "those", "though", "three", "through", "throughout", "thru", "thus", "to", "together", "too", "top", "toward", "towards", "twelve", "twenty", "two", "un", "under", "until", "up", "upon", "us", "very", "via", "was", "we", "well", "were", "what", "whatever", "when", "whence", "whenever", "where", "whereafter", "whereas", "whereby", "wherein", "whereupon", "wherever", "whether", "which", "while", "whither", "who", "whoever", "whole", "whom", "whose", "why", "will", "with", "within", "without", "would", "yet", "you", "your", "yours", "yourself", "yourselves", "the"]

In [15]:
with open('C:/Users/USER/Desktop/cnn.txt', 'r', encoding='utf-8') as f:
    news = f.read()

In [23]:
# method 1
words = []
for word in news.lower().split():
    if (word not in stopwords) and (len(word)>=2):
        words.append(word)
        
# method 2
words = [word for word in news.lower().split()  if (word not in stopwords) and (len(word)>=2)]

In [24]:
dic = {}
for word in words:
    if word not in dic:
        dic[word] = 1
    else:
        dic[word] = dic[word] + 1

In [25]:
import operator
swd = sorted(dic.items(), key = operator.itemgetter(1), reverse=True)
swd[0:10]

[('north', 66),
 ('kim', 50),
 ('korea', 47),
 ('korean', 44),
 ('south', 32),
 ('nuclear', 31),
 ('jong', 23),
 ('leader', 16),
 ('afp', 14),
 ('photo', 14)]

### 方法三 (使用collections 做統計)
- https://docs.python.org/3/library/collections.html

In [28]:
with open('C:/Users/USER/Desktop/cnn.txt', 'r', encoding='utf-8') as f:
    news = f.read()
    
words = [word for word in news.lower().split()  if (word not in stopwords) and (len(word)>=2)]

from collections import Counter
c = Counter(words)

c.most_common(10)

[('north', 66),
 ('kim', 50),
 ('korea', 47),
 ('korean', 44),
 ('south', 32),
 ('nuclear', 31),
 ('jong', 23),
 ('leader', 16),
 ('afp', 14),
 ('photo', 14)]

In [31]:
from collections import Counter

def WordCount(filename, n):
    with open(filename, 'r', encoding='utf-8') as f:
        news = f.read()

    words = [word for word in news.lower().split()  if (word not in stopwords) and (len(word)>=2)]
    c = Counter(words)

    return c.most_common(n)

WordCount('C:/Users/USER/Desktop/cnn.txt', 20)

[('north', 66),
 ('kim', 50),
 ('korea', 47),
 ('korean', 44),
 ('south', 32),
 ('nuclear', 31),
 ('jong', 23),
 ('leader', 16),
 ('afp', 14),
 ('photo', 14),
 ('credit', 14),
 ('trump', 14),
 ('(photo', 12),
 ('president', 12),
 ('kcna', 11),
 ('images)', 11),
 ('tests', 10),
 ('said', 10),
 ('pyongyang', 10),
 ('read', 10)]

## 讀取結構化與半結構化資料

In [32]:
import pandas
df  = pandas.read_csv('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/tw2330.csv')
df.head()

         Date   Open   High    Low  Close  Adj Close      Volume
0  2013-03-04  104.5  104.5  101.5  102.0  87.578972  50033000.0
1  2013-03-05  103.5  104.0  102.5  104.0  89.296204  53913000.0
2  2013-03-06  104.0  104.5  103.0  104.0  89.296204  35977000.0
3  2013-03-07  103.5  104.0  103.0  103.0  88.437592  20518000.0
4  2013-03-08  103.0  104.5  102.0  103.5  88.866898  44571000.0

In [34]:
stock = pandas.read_excel('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/stock.xlsx')
stock.head()

,id,年度,股本,財報評分,收盤,平均,漲跌,漲跌%,營業收入,營業毛利,...,營業毛利%,營業利益%,業外損益%,稅後淨利%,ROE,ROA,稅後EPS,EPS成長,BPS,stockid
0,1,2015,369.0,45,27.3,37.8,-16.1,-37.1,937.0,145.0,...,15.5,10.3,-1.08,7.39,4.36,2.36,1.56,-1.37,29.26,1101
1,2,2014,369.0,53,43.4,45.7,-2.85,-6.2,1183.0,249.0,...,21,16.8,1.13,14,10.50,5.76,2.93,0.21,31.95,1101
2,3,2013,369.0,51,46.25,39.8,7.35,18.9,1161.0,228.0,...,19.7,15.3,0.71,13,10.60,5.56,2.72,0.63,30.63,1101
3,4,2012,369.0,49,38.9,35.8,3.9,11.1,1195.0,177.0,...,14.8,10.9,-0.84,8.34,7.63,3.81,2.09,-0.24,27.03,1101
4,5,2011,369.0,55,35,36.8,2.2,6.7,1185.0,206.0,...,17.4,13.6,0.3,11.6,10.80,5.24,2.33,-0.1,26.21,1101

In [35]:
tw2330 = pandas.read_json('https://raw.githubusercontent.com/ywchiu/tibamepy/master/data/2330.json')
tw2330.head()

   Adj Close  Close       Date   High    Low   Open    Volume
0      172.0  172.0 2016-07-21  172.0  170.0  171.0  33130000
1      170.0  170.0 2016-07-20  170.5  169.0  170.0  38053000
2      170.5  170.5 2016-07-19  170.5  169.0  170.5  42456000
3      169.5  169.5 2016-07-18  170.0  168.0  168.0  24749000
4      169.5  169.5 2016-07-15  169.5  169.5  169.5     41000

## 使用Requests GET 存取網頁
- https://zh.wikipedia.org/wiki/HTTP%E7%8A%B6%E6%80%81%E7%A0%81

In [36]:
import requests
res = requests.get('https://tw.appledaily.com/new/realtime')
res

In [38]:
#res.text

## 使用POST 存取網頁
- https://www.thsrc.com.tw/tw/TimeTable/SearchResult

In [42]:
import requests

url = 'https://www.thsrc.com.tw/tw/TimeTable/SearchResult'

payload = {
'StartStation': '977abb69-413a-4ccf-a109-0272c24fd490',
'EndStation': 'a7a04c89-900b-4798-95a3-c01c455622f4',
'SearchDate': '2018/04/21',
'SearchTime': '12:00',
'SearchWay': 'DepartureInMandarin'
}

res = requests.post(url, data=payload)

In [43]:
res

In [45]:
#res.text

## 台鐵簡易查詢
- http://twtraffic.tra.gov.tw/twrail/EasySearch.aspx

In [46]:
import requests
res = requests.get('http://twtraffic.tra.gov.tw/twrail/SearchResult.aspx?searchtype=0&searchdate=2018/04/21&fromstation=1810&tostation=1008&trainclass=%271100%27,%271101%27,%271102%27,%271107%27,%271110%27,%271120%27&fromtime=0600&totime=2359')
res

In [52]:
type(res)

requests.models.Response

In [48]:
#res.text

## 抓取圖片

In [49]:
import requests
res = requests.get('https://img.appledaily.com.tw/images/thumbnail/other/5ba954d11a2c4051f26bb879f4d0fcb4.jpg')
with open('gua.jpg', 'wb') as f:
    f.write(res.content)

## 存取PDF

In [50]:
res = requests.get('http://doc.twse.com.tw/pdf/201701_2330_AI1_20180421_121255.pdf')
with open('2330.pdf', 'wb') as f:
    f.write(res.content)

## 使用 BeautifulSoup
- http://beautifulsoup.readthedocs.io/zh_CN/v4.4.0/

In [56]:
from bs4 import BeautifulSoup

html_sample = '''
<html>
<body>
<h1 id="title">Hello World</h1>
<a href="#" class="link">This is link1</a>
<a href="# link2" class="link">This is link2</a>
</body>
</html>
'''

soup = BeautifulSoup(html_sample, 'lxml')
soup.text

'\n\nHello World\nThis is link1\nThis is link2\n\n\n'

In [57]:
type(soup)

bs4.BeautifulSoup

In [58]:
soup.select_one('h1')

In [59]:
soup.select_one('h1').text

'Hello World'

In [60]:
soup.select_one('a')

In [61]:
soup.select('a')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [63]:
soup.select('a')[0]

In [64]:
soup.select('a')[1]

In [62]:
soup.select('h1')

In [65]:
soup.select('h1')[0]

In [66]:
# id => #
soup.select_one('#title')

In [68]:
soup.select_one('h1#title')

In [69]:
soup.select_one('body h1')

In [70]:
soup.select_one('body h1#title')

In [67]:
# class => .
soup.select('.link')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [71]:
soup.select('a.link')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [72]:
soup.select('body a.link')

[<a class="link" href="#">This is link1</a>,
 <a class="link" href="# link2">This is link2</a>]

In [77]:
alinks = soup.select('body a.link')
for link in alinks:
    #print(link)
    #print(link.text)
    print(link.get('href'))

#
# link2

## 抓取蘋果新聞

In [78]:
import requests
res = requests.get('https://tw.appledaily.com/new/realtime')
res

In [80]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text, 'lxml')

### W3C 中文教程
- http://www.w3school.com.cn/html/html_links.asp

In [90]:
for news in soup.select('.rtddt a'):
    #print(news)
    if news.select_one('h1'): # 當h1 存在時 才解析出下面元素
        h1 = news.select_one('h1').text
        h2 = news.select_one('h2').text
        time = news.select_one('time').text
        link = news.get('href')
        print(h1,h2,time, link)
        print('===================================')

徐佳瑩被爆懷孕後現身　上衣寬鬆踩平底鞋揭... 娛樂 13:34 https://tw.entertainment.appledaily.com/realtime/20180421/1338781/
===================================
【撿屍片】兩次性行為只同意一次　女子怒告...(94952) 社會 13:30 https://tw.news.appledaily.com/local/realtime/20180421/1337331/
===================================
【有片】台中今早空品糟透　紫爆讓七期豪宅...(3737) 生活 13:30 https://tw.news.appledaily.com/life/realtime/20180421/1338653/
===================================
陳菊接任府秘首日　第一個行程拜會星雲大師(1) 政治 13:28 https://tw.news.appledaily.com/politics/realtime/20180421/1338789/
===================================
女星包包打馬賽克撇炫富　一牆愛馬仕早露餡 娛樂 13:28 https://tw.entertainment.appledaily.com/realtime/20180421/1338733/
===================================
挖空乾電池藏毒　肉粽當武器阻警追緝(4) 社會 13:27 https://tw.news.appledaily.com/local/realtime/20180421/1338793/
===================================
囂張！走私15萬包私菸　直接擺漁船甲板不...(26) 社會 13:23 https://tw.news.appledaily.com/local/realtime/20180421/1338792/
===================================
因應76人擺爛策略　NBA再調降狀元籤機...(102) 體育 13:21 https://tw.sports.appledaily.com/realtime/20180421/1338791/
===================================
台北鳥籠公寓價　台中換7期別墅(227) 地產 13:19 https://tw.finance.appledaily.com/realtime/20180421/1337243/
===================================
結束史瓦濟蘭之旅　蔡英文：不會金援外交(260) 政治 13:17 https://tw.news.appledaily.com/politics/realtime/20180421/1338786/
===================================
退休警後天爭權益　立院周邊公車今起3天改...(216) 生活 13:15 https://tw.news.appledaily.com/life/realtime/20180421/1338782/
===================================
首季營運遭遇亂流　光寶對下半年有高期望(158) 財經 13:08 https://tw.finance.appledaily.com/realtime/20180421/1338785/
===================================
【壹週刊】〈神蹟廟算1〉港口宮媽祖顯靈　...(934) 壹週刊 13:05 https://tw.news.appledaily.com/nextmag/realtime/20180421/1338333/
===================================
【壹週刊】〈神蹟廟算2〉賭客毀神像遭報應...(398) 壹週刊 13:05 https://tw.news.appledaily.com/nextmag/realtime/20180421/1338340/
===================================
【壹週刊】〈神蹟廟算3〉財神跨海來託夢　...(341) 壹週刊 13:05 https://tw.news.appledaily.com/nextmag/realtime/20180421/1338344/
===================================
【壹週刊】〈神蹟廟算4〉這個財神爺　名字...(203) 壹週刊 13:05 https://tw.news.appledaily.com/nextmag/realtime/20180421/1338353/
===================================
國保欠費不繳　1.8萬人終生月領4800...(3237) 生活 13:04 https://tw.news.appledaily.com/life/realtime/20180421/1338728/
===================================
阻止失智婦吞不明藥　警安撫送回護理之家(160) 社會 13:02 https://tw.news.appledaily.com/local/realtime/20180421/1338773/
===================================
陳菊任競總主委挨批　蘇貞昌：有人時光錯亂...(3036) 政治 13:00 https://tw.news.appledaily.com/politics/realtime/20180421/1338738/
===================================
​台灣參與WHA   不可能的任務？(291) 論壇 13:00 https://tw.news.appledaily.com/forum/realtime/20180421/1338761/
===================================
【更新】大谷翔平4打數2安打　天使1比8...(22283) 體育 12:59 https://tw.sports.appledaily.com/realtime/20180421/1338676/
===================================
山口茜腿傷退出亞錦賽　戴資穎搶衛冕重返球...(749) 體育 12:58 https://tw.sports.appledaily.com/realtime/20180421/1338778/
===================================
西南航機引擎爆炸　華航同款引擎需20天內...(658) 生活 12:52 https://tw.news.appledaily.com/life/realtime/20180421/1338767/
===================================
羅斯力投127球　無安打比賽還是破功(770) 體育 12:52 https://tw.sports.appledaily.com/realtime/20180421/1338776/
===================================
下周二鋒面來襲　北部低溫僅18℃(6730) 生活 12:51 https://tw.news.appledaily.com/life/realtime/20180421/1338671/
===================================
掌管市值千億光寶帝國　董座靠走路、瑜珈紓...(1062) 財經 12:45 https://tw.finance.appledaily.com/realtime/20180421/1338774/
===================================
騎士違規被攔緊張得結巴　原來手上有毒品(485) 社會 12:44 https://tw.news.appledaily.com/local/realtime/20180421/1338769/
===================================
【有片】車停店門口擋出入　暴怒老闆打人砸...(1303) 社會 12:43 https://tw.news.appledaily.com/local/realtime/20180421/1338768/
===================================
【大甲媽回鑾】陣頭搶轎開幹濺血　2男毆警...(93369) 社會 12:41 https://tw.news.appledaily.com/local/realtime/20180421/1338624/
===================================
【有片】柯P直言1280月票「小小缺點」...(25232) 生活 12:40 https://tw.news.appledaily.com/life/realtime/20180421/1338664/
===================================

In [94]:
s = BeautifulSoup("<a href='#'></a>", 'lxml')
if s.select_one('h1'):
    print('Node Exist')

## 抓取內文資訊

In [95]:
import requests
res  = requests.get('https://tw.entertainment.appledaily.com/realtime/20180421/1338733/')

In [96]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(res.text , 'lxml')

### 抓取了標題資訊

In [105]:
soup.select_one('h1').text

'女星包包打馬賽克撇炫富\u3000一牆愛馬仕早露餡'

### 抓取摘要資訊

In [106]:
soup.select_one('.ndArticle_margin p').text.split('看了這則新聞的人')[0]

'黃聖依帶著她與富商楊子的長子安迪上《媽媽是超人》，曾傳她怕被罵炫富，特地買下約90坪的「小房子」供節目拍攝，但鏡頭隨便一掃，衣架上數個愛馬仕（HERMES）手袋仍吸睛，而最新一集她背的包包被打馬賽克，但同節目其他女星的包包都大方秀出來，可想而知馬賽克的用意並非為了免除廣告嫌疑，極可能是黃聖依請製作單位別再曝光她的奢華行頭。\xa0雖然黃聖依精心安排小房子，婆婆住的楊家氣派大宅還是全都露，包括6歲安迪的專屬滑雪場、遊樂場等，令觀眾驚呼「貧窮限制了我的想像」。此外，黃聖依是愛馬仕大戶早就眾所周知，她5年前來台打歌曾透露擁有20多個愛馬仕手袋，最愛要價百萬人民幣的喜馬拉雅柏金包（Himalayan Birkin），採用珍貴的喜馬拉雅鱷魚皮。\xa0網友好奇，她的包包究竟有多貴，才值得被打馬賽克？也有人認為，與其勞煩製作單位後製打馬賽克，為何不直接換背其他牌子的包包。（娛樂中心／綜合報導）'

### 抓取時間資訊

In [107]:
soup.select_one('.ndArticle_creat').text

'出版時間：2018/04/21 13:28'

In [108]:
a = '2018/04/02'
b = '2018/04/12'
b - a

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [111]:
dt = soup.select_one('.ndArticle_creat').text.split('：')[1]
type(dt)

str

### 將時間轉換為字串

In [113]:
from datetime import datetime
current_time = datetime.now()
# strftime: convert datetime to string
current_time.strftime('%Y-%m-%d')

## https://docs.python.org/3/library/datetime.html?highlight=datetime#strftime-and-strptime-behavior

'2018-04-21'

### 將字串轉換為時間

In [114]:
from datetime import datetime
s = '2018/04/21 13:28'
datetime.strptime(s, '%Y/%m/%d %H:%M')

datetime.datetime(2018, 4, 21, 13, 28)

In [118]:
dt = soup.select_one('.ndArticle_creat').text.split('：')[1]
datetime.strptime(dt, '%Y/%m/%d %H:%M')

datetime.datetime(2018, 4, 21, 13, 28)

In [122]:
current_time = datetime.now()
current_time - datetime.strptime(dt, '%Y/%m/%d %H:%M')

datetime.timedelta(0, 4206, 155516)

### 取出人氣資料

In [127]:
int(soup.select_one('.ndArticle_view').text)

4912

### 取出類別資料

In [126]:
soup.select_one('.ndgTag .current').text

'娛樂'

### 製作內文抓取函數

In [135]:
import requests
from bs4 import BeautifulSoup

url = 'https://tw.entertainment.appledaily.com/realtime/20180421/1338733/'

def pageDetail(url):
    res  = requests.get(url)
    soup = BeautifulSoup(res.text , 'lxml')

    ret     = {}

    title   = soup.select_one('h1').text
    summary = soup.select_one('.ndArticle_margin p').text.split('看了這則新聞的人')[0]

    dt = soup.select_one('.ndArticle_creat').text.split('：')[1]
    dt = datetime.strptime(dt, '%Y/%m/%d %H:%M')

    clicked = 0
    if soup.select_one('.ndArticle_view'):
        clicked  = int(soup.select_one('.ndArticle_view').text)

    category = soup.select_one('.ndgTag .current').text

    ret['title']    = title
    ret['summary']  = summary
    ret['dt']       = dt
    ret['clicked']  = clicked
    ret['category'] = category

    return ret

In [136]:
url = 'https://tw.entertainment.appledaily.com/realtime/20180421/1338733/'

pageDetail(url)

{'category': '娛樂',
 'clicked': 10996,
 'dt': datetime.datetime(2018, 4, 21, 13, 28),
 'summary': '黃聖依帶著她與富商楊子的長子安迪上《媽媽是超人》，曾傳她怕被罵炫富，特地買下約90坪的「小房子」供節目拍攝，但鏡頭隨便一掃，衣架上數個愛馬仕（HERMES）手袋仍吸睛，而最新一集她背的包包被打馬賽克，但同節目其他女星的包包都大方秀出來，可想而知馬賽克的用意並非為了免除廣告嫌疑，極可能是黃聖依請製作單位別再曝光她的奢華行頭。\xa0雖然黃聖依精心安排小房子，婆婆住的楊家氣派大宅還是全都露，包括6歲安迪的專屬滑雪場、遊樂場等，令觀眾驚呼「貧窮限制了我的想像」。此外，黃聖依是愛馬仕大戶早就眾所周知，她5年前來台打歌曾透露擁有20多個愛馬仕手袋，最愛要價百萬人民幣的喜馬拉雅柏金包（Himalayan Birkin），採用珍貴的喜馬拉雅鱷魚皮。\xa0網友好奇，她的包包究竟有多貴，才值得被打馬賽克？也有人認為，與其勞煩製作單位後製打馬賽克，為何不直接換背其他牌子的包包。（娛樂中心／綜合報導）',
 'title': '女星包包打馬賽克撇炫富\u3000一牆愛馬仕早露餡'}

In [137]:
pageDetail('https://tw.finance.appledaily.com/realtime/20180421/1338763/')

{'category': '財經地產',
 'clicked': 3663,
 'dt': datetime.datetime(2018, 4, 21, 13, 58),
 'summary': '更新：新增影片談到華為，就會讓人想到著名的狼性文化，華為技術台灣總代理訊崴技術總經理雍海任職台灣操盤手已2年，近期為擴大組織，積極面試新人，他透露他一定會問面試者的一個問題就是：「你的夢想是什麼」。Interbrandr近期發布的《2017年全球最佳品牌》排名顯示，華為名列全球第70名，品牌價值較去年提升14%。稱之為國際品牌當之無愧。 又到了每年新鮮人求職的旺季，不免讓人好奇，要進入華為工作，可能會被詢問的問題是什麼？雍海在到台灣任職前，不僅在中國市場任職過，他也曾外派歐洲荷蘭等市場，他說，他一定會問面試者的問題就是「你的夢想是什麼？我們能不能幫助你實現夢想？」雍海指出，賺錢是一方面，但賺錢其實是在追求夢想中的過程副產品，一個人如果連對自己的未來不深入思考、規劃，在工作上也不一定盡心。雍海也指出，台灣的年輕人是蠻優秀，受的教育程度也非常高，但現在面臨非常大問題就是視野不夠開闊，局限了想像力和未來的憧憬，未來的憧憬就是華為所謂的奮鬥精神。 問夢想和追求就是想要看到他的奮鬥精神，因為當人慢慢成長時，就會發賺錢賺最多的，不一定是最幸福的人。雍海也說明，一個人夢想不一定要很明確、很長遠，但至少要有大致的方向和階段性目標，他比較喜歡能自我挑戰的人，要能夠「馬不揚鞭，自奮蹄」，不是要別人抽著他跑的人。（陳俐妏／台北報導）出版：12:31更新：13:58',
 'title': '這個狼性文化的公司\u3000會問面試者的問題出乎意料'}

In [138]:
pageDetail('https://tw.news.appledaily.com/life/realtime/20180421/1338833/')

{'category': '生活',
 'clicked': 0,
 'dt': datetime.datetime(2018, 4, 21, 14, 45),
 'summary': '有意爭取民進黨台北市長提名參選的民進黨立委姚文智，將於明天發起「機蛋大遊行」，並凝聚反對台北市長柯文哲的勢力，邀請民眾從松山機場走到台北大巨蛋。但網友在PTT爆料稱，有人在通訊軟體LINE的某個打工群組募集「4/22造勢遊行」走路工，報酬500元。台北市議員民進黨團總召李慶鋒今受訪說，聽聞此訊息直覺「太荒謬」，在這個時代他相信姚本人或民代們應該不會做這種事。李也質疑是否為「熱心過頭」，或「超級有可能」是反動員、對手的支持者，意圖影響遊行的正當性而有的抹黑或造謠的行為；也可能沒有根據的謠言、在網路擴大或帶風向。李慶鋒也說，市議會民進黨團雖協助姚辦活動，仍尊重議員個人的態度，據他所知就有議員不會參加。（郭美瑜／台北報導）',
 'title': '遊行遭影射有走路工\u3000綠營：反動員招術？'}

In [142]:
import requests
from bs4 import BeautifulSoup
res  = requests.get('https://tw.appledaily.com/new/realtime')
soup = BeautifulSoup(res.text, 'lxml')

newsary = []
for news in soup.select('.rtddt a'):
    url = news.get('href')
    newsary.append(pageDetail(url))

In [144]:
#newsary

In [145]:
a = {'a':1, 'b':2, 'c':3}
b = {'a':100, 'c':30}

import pandas
pandas.DataFrame([a,b])

     a    b   c
0    1  2.0   3
1  100  NaN  30

In [146]:
newsdf = pandas.DataFrame(newsary)

In [148]:
newsdf.head(3)

,category,clicked,dt,summary,title
0,社會,0,2018-04-21 15:12:00,外傭當面逃，警方擦身而過卻礙於法規不能抓！有一名網友在臉書社團「爆料公社」PO文，表示自己的...,瑪爾濟斯變拉拉外傭逃 警礙於法規無法抓
1,體育,0,2018-04-21 15:11:00,紅襪隊今天客場出戰運動家，雖然1局下就被對手攻下3分，但2局上靠布萊德利(Jackie Br...,莫蘭滿貫砲率隊勝運動家 紅襪創30年來最佳開季
2,論壇,0,2018-04-21 15:11:00,"張昭仁／加州會計師 上個月美國智庫""2049計劃室""研究員易思安訪台，非常警訝台灣在國際形式...",易思安的困惑

In [151]:
url = 'https://tw.appledaily.com/new/realtime/{}'

for i in range(1,6):
    print(url.format(i))

https://tw.appledaily.com/new/realtime/1
https://tw.appledaily.com/new/realtime/2
https://tw.appledaily.com/new/realtime/3
https://tw.appledaily.com/new/realtime/4
https://tw.appledaily.com/new/realtime/5

In [152]:
import requests
from bs4 import BeautifulSoup
pageurl = 'https://tw.appledaily.com/new/realtime/{}'


newsary = []
for i in range(1,6):
    res  = requests.get(pageurl.format(i))
    soup = BeautifulSoup(res.text, 'lxml')
    for news in soup.select('.rtddt a'):
        url = news.get('href')
        newsary.append(pageDetail(url))
    print('processing page :', i)

processing page : 1
processing page : 2
processing page : 3
processing page : 4
processing page : 5

In [154]:
len(newsary)

150

In [156]:
import pandas
newsdf = pandas.DataFrame(newsary)
#newsdf

In [159]:
newsdf.sort_values('clicked', ascending=False).head()

,category,clicked,dt,summary,title
31,社會,287859,2018-04-21 14:30:00,（更新：新增內容）一名年逾六旬、身價約50億元的科技公司老董，6年前結識一名熟女，陷入情海後...,【剝皮片】身價50億老董暈船 美魔女海削1億元
112,生活,262222,2018-04-21 12:03:00,（更新：新增配音影片）好市多近日上架一雙運動品牌NIKE復古球鞋，1800元有找，許多網友買...,便宜1千！搶好市多這雙鞋 網友：根本秒殺
24,國際,128915,2018-04-21 14:48:00,（更新：新增動新聞）北韓領導人金正恩在今日稍早宣布，決定從今日起終止核試、停止射飛彈，並廢棄...,【不射了片】金正恩宣布終止核試 全力拚經濟
118,體育,121459,2018-04-21 11:57:00,(新增影片)富邦悍將昨天在主場與中信兄弟之戰，8局下，今年從中信轉隊至富邦的蔣智賢，因為中信...,【有片】推了史耐德一把 象迷湧進蔣智賢粉專洩憤
64,社會,116735,2018-04-21 13:30:00,（更新：新增內容）台北市一名年輕女子，上月與男性友人餐敘中被紅酒、白酒灌醉，事後被對方撿屍帶...,【撿屍片】兩次性行為只同意一次 女子怒告性侵

In [161]:
newsdf.groupby('category')['clicked'].max()

category
3C       15837
副刊        2007
動物        2562
國際      128915
壹週刊       3755
娛樂       30474
政治       35250
生活      262222
社會      287859
論壇        1631
財經地產     35143
體育      121459
Name: clicked, dtype: int64

In [164]:
newsdf[newsdf.groupby('category')['clicked'].transform(max) == newsdf['clicked']]

,category,clicked,dt,summary,title
18,政治,35250,2018-04-21 14:55:00,（更新：新增網友意見）陸軍特戰指揮部第一營長達11天275公里的年度國軍山隘行軍，昨日清晨抵...,【更新】特戰媽媽山隘行軍275公里 兒子獻吻喜極而泣
24,國際,128915,2018-04-21 14:48:00,（更新：新增動新聞）北韓領導人金正恩在今日稍早宣布，決定從今日起終止核試、停止射飛彈，並廢棄...,【不射了片】金正恩宣布終止核試 全力拚經濟
31,社會,287859,2018-04-21 14:30:00,（更新：新增內容）一名年逾六旬、身價約50億元的科技公司老董，6年前結識一名熟女，陷入情海後...,【剝皮片】身價50億老董暈船 美魔女海削1億元
75,壹週刊,3755,2018-04-21 13:05:00,每年農曆三月的「瘋媽祖」是台灣宗教信仰及歷史文化中的一大盛典，而台灣也因地理位置四面環海、漁...,【壹週刊】〈神蹟廟算1〉港口宮媽祖顯靈 索命冤死豬成神
94,3C,15837,2018-04-21 12:31:00,（更新︰新增評語） 想預訂美味蛋糕幫媽媽過節的人可以準備出手啦！《蘋果日報》一年一度的母親節...,【蛋糕評比】奪冠草莓捲 美食家驚呼完美
112,生活,262222,2018-04-21 12:03:00,（更新：新增配音影片）好市多近日上架一雙運動品牌NIKE復古球鞋，1800元有找，許多網友買...,便宜1千！搶好市多這雙鞋 網友：根本秒殺
117,副刊,2007,2018-04-21 11:58:00,3月在台進行短暫VIP預賞、就已狂接訂單破百台的Lamborghini首款超級SUV—Uru...,【直播預告】蠻牛首款超級SUV 20:00義大利獨家搶試
118,體育,121459,2018-04-21 11:57:00,(新增影片)富邦悍將昨天在主場與中信兄弟之戰，8局下，今年從中信轉隊至富邦的蔣智賢，因為中信...,【有片】推了史耐德一把 象迷湧進蔣智賢粉專洩憤
121,動物,2562,2018-04-21 11:54:00,都說喵星人和汪星人水火不融，雖然不是百分之百如此，但是還是有錯棚就被對方堵死的情況發生。例如...,不慎誤入喵星人地盤 汪：我知道錯了‧‧‧
123,娛樂,30474,2018-04-21 11:39:00,漫威超級電影《復仇者聯盟》系列將推出第3集《復仇者聯盟：無限之戰》（Avengers: In...,【漫威狂潮2】復仇者聯盟族譜揭密 3英雄因她成表兄弟
130,論壇,1631,2018-04-21 11:26:00,簡松柏／台南高分院公設辯護人 關於小燈泡母親王女士在臉書上的非難：「......今天看到新聞...,​小燈泡案司法問題的雞同鴨講？
138,財經地產,35143,2018-04-21 11:10:00,更新:專家意見每個台灣人的記憶轉角，都有一攤屬於自己的紅豆餅，對於26歲的林宏彥來說，那不只...,【微視蘋】26歲小鮮肉當家 紅豆餅玩轉人生（動畫）

In [166]:
newsdf.to_csv('news.csv', encoding = 'utf-8-sig')

In [167]:
newsdf.to_excel('news.xlsx')

## 防爬蟲
 - http://imweb.io/topic/595b7161d6ca6b4f0ac71f05

## 抓取591 租屋網資料

In [170]:
import requests
headers = {
'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/65.0.3325.181 Safari/537.36'    
}
res = requests.get('https://rent.591.com.tw/home/search/rsList?is_new_list=1&type=1&kind=1&searchtype=1&region=1&section=5&firstRow=60&totalRows=726', headers = headers)
jd = res.json()

In [173]:
import pandas
df = pandas.DataFrame(jd['data']['data'])

In [175]:
#df

In [181]:
pages = int(726 / 30) + 1
houseary = []
for i in range(0, pages ):
    row = i * 30
    res = requests.get('https://rent.591.com.tw/home/search/rsList?is_new_list=1&type=1&kind=1&searchtype=1&region=1&section=5&firstRow={}&totalRows=726'.format(row), headers = headers)
    jd = res.json()
    df = pandas.DataFrame(jd['data']['data'])
    houseary.append(df)
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [183]:
len(houseary)

25

In [198]:
housedf = pandas.concat(houseary)

In [199]:
housedf = housedf[['id','address','floor','allfloor','layout','area','price','browsenum_all']]

In [200]:
housedf['price'] = housedf['price'].map(lambda e: int(e.replace(',', '')))
#housedf.sort_values('price')

In [203]:
housedf['price_per_area'] =  housedf['price'] / housedf['area']

In [210]:
housedf.sort_values('price_per_area').head(3)

,id,address,floor,allfloor,layout,area,price,browsenum_all,price_per_area
10,6247277,敦化南路二段11巷國小國中學籍戶籍設籍金華..,4,6,2房2廳1衛,25.0,3000,913,120.000000
8,6194751,愛國東路學生公寓，屋主..,3,4,6房2廳6衛,66.0,8800,8256,133.333333
26,6282869,復興南路一段位太平洋百貨後方..,5,5,2房1廳1衛,50.0,25000,164,500.000000

In [207]:
housedf.to_excel('house591.xlsx')

## Selenium
- pip install selenium
- https://chromedriver.storage.googleapis.com/2.38/chromedriver_win32.zip

In [211]:
! pip install selenium

Collecting selenium
  Downloading https://files.pythonhosted.org/packages/5e/1f/6c2204b9ae14eddab615c5e2ee4956c65ed533e0a9986c23eabd801ae849/selenium-3.11.0-py2.py3-none-any.whl (943kB)
Installing collected packages: selenium
Successfully installed selenium-3.11.0

You are using pip version 9.0.1, however version 10.0.0 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

## 威秀訂票

In [225]:
from selenium import webdriver
import time
driver = webdriver.Chrome('C:/Users/USER/Desktop/chromedriver.exe')
driver.get('https://www.vscinemas.com.tw/vsTicketing/ticketing/ticket.aspx')
time.sleep(3)
driver.find_element_by_css_selector('.icon-delete').click()
time.sleep(3)
driver.find_element_by_css_selector('#theater').send_keys('台北信義威秀影城')
time.sleep(3)
driver.find_element_by_css_selector('.movieList li:nth-child(6)').click()
time.sleep(3)
driver.find_element_by_css_selector('.bookList li:nth-child(9)').click()
time.sleep(3)
driver.find_element_by_css_selector('.icon-vsgeneral').click()
time.sleep(3)
driver.close()

## 高鐵自動訂票

In [258]:
from selenium import webdriver
import time
driver = webdriver.Chrome('C:/Users/USER/Desktop/chromedriver.exe')
driver.get('https://irs.thsrc.com.tw/IMINT/')
time.sleep(3)
driver.find_element_by_css_selector('select[name=selectStartStation]').send_keys('台北')
time.sleep(3)
driver.find_element_by_css_selector('select[name=selectDestinationStation]').send_keys('嘉義')
time.sleep(3)
driver.find_element_by_css_selector('select[name=toTimeTable]').send_keys('19:30')
time.sleep(3)


from bs4 import BeautifulSoup
domain = 'https://irs.thsrc.com.tw'
soup = BeautifulSoup(driver.page_source, 'lxml')
c = ';'.join(['{}={}'.format(ele['name'], ele['value']) for ele in driver.get_cookies()])
url = domain + soup.select('#action a')[-1].get('href')
res = requests.get(url, headers = {'Cookie':c})
with open('test.wav', 'wb') as f:
    f.write(res.content)
time.sleep(3)

import speech_recognition as sr
r = sr.Recognizer()
with sr.AudioFile('test.wav') as source:
    audio = r.record(source)
time.sleep(3)
s = r.recognize_google(audio, language='en')
print(s)
code = ''.join(s.replace('-','').split()).upper()
print(code)
time.sleep(3)
driver.find_element_by_css_selector('.PR10 .input1').send_keys(code)
time.sleep(3)
driver.find_element_by_css_selector('#SubmitButton').click()
driver.close()

3 krr
3KRR